@font-face {
font-family: '1';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@658547dec8cda198236f190c9c9764998edae3bb/1711139277/1.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}