@font-face {
font-family: '1';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@82f43fa9bbeacb80a8cce1123a74e092e5b07257/1711139277/1.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}