@font-face {
font-family: '1';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@41ff1357f7765d6f4584a57626c2abee676e4c2c/1711139277/1.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}