@font-face {
font-family: '10';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@7d45a22a75dcf77d12d4d1f94caa3375e7be03d8/1711139277/10.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}