@font-face {
font-family: '10';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@45cc6390af4c44bb7613bde5f443d9f97dae0def/1711139277/10.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}