@font-face {
font-family: '10';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@3c1c165e4785709d161d18a85831b7f0b75dfd70/1711139277/10.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}