@font-face {
font-family: '100';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@53f415576c9c29efc2ae1322b5ba99589c37eb23/1711139277/100.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}