@font-face {
font-family: '100';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@3a8a2143b2a787152e2e4cde3250f8795aea26a7/1711139277/100.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}