@font-face {
font-family: '100';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@f09268fa644ee364d122703fbc8be12ea5c04891/1711139277/100.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}