@font-face {
font-family: '101';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@fc4f560a4a83299db632ab20ef888d0ee664e961/1711139277/101.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}