@font-face {
font-family: '101';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@5959236cd04bf1ab1c79a15835e729aaa79aef64/1711139277/101.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}