@font-face {
font-family: '101';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@a8a428cf53ee2cb4cd6dcc03518cd4e9efa1361e/1711139277/101.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}