@font-face {
font-family: '102';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@c6a638365d105aeed9b944632878672ffdfb1f57/1711139277/102.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}