@font-face {
font-family: '102';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@2ab73302cd82a476fbf140052f35a9ff61716d2a/1711139277/102.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}