@font-face {
font-family: '103';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@eedd0c3d81ee66dda5475f5b4b460da81674cb00/1711139277/103.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}