@font-face {
font-family: '103';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@87ca9666c9d080601650ed6f8b9db25d257f27de/1711139277/103.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}