@font-face {
font-family: '104';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@6b5d13dce0e0e59275355c6a14792fe9b92d9de6/1711139277/104.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}