@font-face {
font-family: '104';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@578152f6edf36de9d3d6c0adf96fb8646c97c663/1711139277/104.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}