@font-face {
font-family: '104';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@37b1e6ad37b007e8b73cd9c867ababa3d41bf196/1711139277/104.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}