@font-face {
font-family: '105';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@cadde98e217ce694d14c723fe26e08704d8e0cf6/1711139277/105.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}