@font-face {
font-family: '105';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@a44da6782841b7974302d416d16665c98578cc40/1711139277/105.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}