@font-face {
font-family: '105';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@edaca41193c05ccfd7fee0a74f32d02de191e95d/1711139277/105.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}