@font-face {
font-family: '106';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@90e155cfcded99bca6a624b030c1f7c651d61f18/1711139277/106.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}