@font-face {
font-family: '106';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@0f39d6d482edd5f8b91ead9d00cb564ead8fb0da/1711139277/106.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}