@font-face {
font-family: '106';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@e279601bb32ca6ecf7f485c9ced7f26f7f38a675/1711139277/106.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}