@font-face {
font-family: '107';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@e4abfa3134c1d2837e0d5c063cbf5f0cfa76991b/1711139277/107.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}