@font-face {
font-family: '107';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@02acf97dd08c3c7a35578be11801e27eb008b8a5/1711139277/107.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}