@font-face {
font-family: '107';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@bc4dd98821747baa5fe46f43f3e82d7e8a86443e/1711139277/107.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}