@font-face {
font-family: '108';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@a659a3308b955d46a9f52bc3a4a4cd9910e8bff0/1711139277/108.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}