@font-face {
font-family: '108';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@21d0601a911ccebc7592f9a75a27222f4fff92ce/1711139277/108.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}