@font-face {
font-family: '108';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@048d16e1a7e4c170fa2feadd7a886abab21602c1/1711139277/108.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}