@font-face {
font-family: '109';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@c48738fc689110804e0b244f0ef771b044236151/1711139277/109.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}