@font-face {
font-family: '109';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@dc6ebea6df22815e7ffc0eb2217fd8ed0e7abc22/1711139277/109.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}