@font-face {
font-family: '109';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@cf0b6687d6543c0d00023501c7a611ad4f103bd9/1711139277/109.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}