@font-face {
font-family: '11';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@c8b9b384736b16556e16a022b8a2c6d3a2e2c0be/1711139277/11.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}