@font-face {
font-family: '11';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@f9521ebc9a124a2acfca2fc1705f9352a1e7d868/1711139277/11.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}