@font-face {
font-family: '11';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@de28614849357df7df0b8ee3b66a8acf26e6d571/1711139277/11.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}