@font-face {
font-family: '110';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@714b8683e5e58d314faa572c4c7a514653512f59/1711139277/110.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}