@font-face {
font-family: '110';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@e2288c732b36790a3dbdad9c4561d166d59ca0b8/1711139277/110.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}