@font-face {
font-family: '110';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@38428b2d6ef14ebad13aca3677f00d6051a31c81/1711139277/110.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}