@font-face {
font-family: '111';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@1e53077e62b27115d8016fbf16520215df316477/1711139277/111.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}