@font-face {
font-family: '111';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@0fe0ca0f62139491045bdc101950cf6e9ddb2caa/1711139277/111.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}