@font-face {
font-family: '111';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@07d3afc032bab01fc2b5f290804a78bf04581134/1711139277/111.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}