@font-face {
font-family: '112';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@4969cb2b70870bb04b7a3c32cb003071a919d5a2/1711139277/112.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}