@font-face {
font-family: '112';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@0cc2525f1aa615f3e6af48c58356cf72a81844da/1711139277/112.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}