@font-face {
font-family: '112';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@76103eac4f2496af90e5001095b450845109cc71/1711139277/112.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}