@font-face {
font-family: '113';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@59dccc12a0ce1e3bfc0703c383150d9019c5b735/1711139277/113.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}