@font-face {
font-family: '113';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@51b80831fb20d2d4e034f9294f401844288db7ff/1711139277/113.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}