@font-face {
font-family: '113';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@d54c3396729b2ab470fd16fe3cb142e8c5d5be8e/1711139277/113.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}