@font-face {
font-family: '114';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@be2a9e3fdc0fb7fae89728572f7a105dcc361e73/1711139277/114.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}