@font-face {
font-family: '114';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@4818635e4f73acdf7300447c30ba35ade0916699/1711139277/114.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}