@font-face {
font-family: '114';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@f0a42568d912e9fcb6be44935b05360d0ebdcc92/1711139277/114.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}