@font-face {
font-family: '115';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@77bb5d2e143379156f354f8f78b478c29c12ef7f/1711139277/115.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}