@font-face {
font-family: '115';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@4b03d10cb46843d1e7b4e10c25c2ed90ce9ec36a/1711139277/115.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}