@font-face {
font-family: '115';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@6d0d0bc266d44186108f0349f41f5302e95ef43a/1711139277/115.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}