@font-face {
font-family: '116';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@97ee0b134ff87eb7ed65238a51d1f23ac7e31596/1711139277/116.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}