@font-face {
font-family: '116';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@878f067edc3eefe06d78cf2376a59633a5f1a20b/1711139277/116.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}