@font-face {
font-family: '116';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@82db34140198e8dcfafdf9bdf911f8905ed4ec57/1711139277/116.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}