@font-face {
font-family: '117';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@73e8516387e01f01884f45a6c7ca6c6d0f63ebaa/1711139277/117.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}