@font-face {
font-family: '117';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@f949b4ac8fa2f77ae7054edafe9f0c289b0497b3/1711139277/117.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}