@font-face {
font-family: '118';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@612ca6408a42cccd83b207a7bdee6ee63cc46a85/1711139277/118.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}