@font-face {
font-family: '118';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@1dee96e792297a0616697fdff03896a74642d83d/1711139277/118.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}