@font-face {
font-family: '118';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@678350515dcc0582ec274088b4599336d8158c5a/1711139277/118.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}