@font-face {
font-family: '119';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@eab5310660c730adcdfa58bf8f766fd8c6ef9c34/1711139277/119.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}