@font-face {
font-family: '119';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@bbadbdc465fc03f0a620835f845bdce296f6262e/1711139277/119.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}