@font-face {
font-family: '119';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@684e92522e84f8394511854026d408f30fb42e1a/1711139277/119.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}