@font-face {
font-family: '12';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@7ddbe8abeb65a866b197bb1ff95a117cfdf316b2/1711139277/12.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}