@font-face {
font-family: '12';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@814e80081ed15e84d9729ec5c4c2d688b0f1db3e/1711139277/12.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}