@font-face {
font-family: '12';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@833067efc82497e60fca0aa4d31bfaf28c941d52/1711139277/12.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}