@font-face {
font-family: '120';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@57d8db3f40ede345706a2ce7fe924f6ae9dfb0e7/1711139277/120.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}