@font-face {
font-family: '120';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@4f06518d6b603a194a8b4603df8a9b70be443b29/1711139277/120.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}