@font-face {
font-family: '120';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@d2c8b0cef0a61b93a129a0c9bf688fb122106fb1/1711139277/120.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}