@font-face {
font-family: '121';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@2e55d2bcd7dad93e4ec0fcf18800b1987c348eb3/1711139277/121.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}