@font-face {
font-family: '121';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@a4a1bfa42cfffa4be4365d5eebd5f928a2150100/1711139277/121.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}