@font-face {
font-family: '121';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@472136be4c9eb715cf900a2a77ad06ff39418354/1711139277/121.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}