@font-face {
font-family: '122';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@aace7f94f3c83367d322cca74fc9931268b50d6c/1711139277/122.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}