@font-face {
font-family: '122';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@785d1ef64f3426ecb8fa49c9dc14578ea4753729/1711139277/122.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}