@font-face {
font-family: '122';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@3b44e22c7912065fd2f5f67a5a05e2cedd875a20/1711139277/122.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}