@font-face {
font-family: '123';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@a0761e89361a4c8afc1d96a40fb6f518c787aca5/1711139277/123.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}