@font-face {
font-family: '123';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@2788f0a697fc6bd6c94ffa438460d0fc9fe906f1/1711139277/123.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}