@font-face {
font-family: '123';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@70b9e431287591b7c07b03aa3a3a8f2032f33e34/1711139277/123.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}