@font-face {
font-family: '124';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@e6ae699d69bff989b8007c1c3146bd89b5f5ef9d/1711139277/124.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}