@font-face {
font-family: '124';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@44d5c4a21828166becf7720d6fda35589a7d7c7a/1711139277/124.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}