@font-face {
font-family: '124';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@50ba36edfbc8c28a3ba3a53a19a9e86f5d7d1e5a/1711139277/124.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}