@font-face {
font-family: '125';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@13dd7cabf002e1d7352e7c703b2a7b1a7aa7c5c4/1711139277/125.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}