@font-face {
font-family: '125';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@d76edd3a9f7106ceb798f1a1f2effc82640632be/1711139277/125.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}