@font-face {
font-family: '125';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@90a3065257ee4f74af4d53d2f1ac205b014ca312/1711139277/125.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}