@font-face {
font-family: '126';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@dc8444d2f517743c75037415bf9e2f8a4ce9a0b8/1711139277/126.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}