@font-face {
font-family: '126';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@425843401438fcc0a3636f31cb44e7ad7908b372/1711139277/126.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}