@font-face {
font-family: '126';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@6f9d87bdc18c1cdd0379ef995f631b7aa22bb6ae/1711139277/126.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}