@font-face {
font-family: '127';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@7fde5a9ccbba7db8df60959417ca0408e5ca7ab6/1711139277/127.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}