@font-face {
font-family: '127';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@88fe72f55ef905d646f9643d8aeaafe4b6060b45/1711139277/127.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}