@font-face {
font-family: '127';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@b5a9a94aafa614cb20d7a7aeddfac2849dbea1d6/1711139277/127.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}