@font-face {
font-family: '128';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@3d3647f7737b6f3d659f284242daf28b0ded9afa/1711139277/128.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}