@font-face {
font-family: '128';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@874416fef49928be085ac524b6965b6ce4266f1e/1711139277/128.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}