@font-face {
font-family: '128';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@168be2bb1bdf429a75b1c6923dc3dbb3a10ad334/1711139277/128.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}