@font-face {
font-family: '129';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@29ab4b173d25b1e433fe9b6b38850279c50dd2da/1711139277/129.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}