@font-face {
font-family: '129';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@c42b1a5840bec8b2d970fac1a6ad79cd46a82a71/1711139277/129.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}