@font-face {
font-family: '129';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@15b4a625f33170754469bc2b85281a07832e6679/1711139277/129.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}