@font-face {
font-family: '13';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@0c4827082cd9e069e935701812d98e979ba9078a/1711139277/13.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}