@font-face {
font-family: '13';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@645e4f60f69f6caf566fdffb80de1f5607207a4c/1711139277/13.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}