@font-face {
font-family: '13';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@171f82a6a3a0566c0c83a6487921ab2d989d1e90/1711139277/13.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}