@font-face {
font-family: '130';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@64070ab8ff096f4e9b509a3253577744e9d47c84/1711139277/130.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}