@font-face {
font-family: '130';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@ba3969ba7960b09070d2ff2c13a15a98224a2316/1711139277/130.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}