@font-face {
font-family: '130';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@fa9bf76b0955313b44bc6a78fbd26d6818cd0768/1711139277/130.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}