@font-face {
font-family: '131';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@6f94db31f70424575a479ea03992442beb484868/1711139277/131.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}