@font-face {
font-family: '131';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@01135f04b00dd072e322c8e4d4bd39d13a0876b7/1711139277/131.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}