@font-face {
font-family: '131';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@1e10d046ca746ac63729a9192b408c337828d01d/1711139277/131.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}