@font-face {
font-family: '132';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@d64de717a42f9c80fbad6f8634ba3d51a9c68072/1711139277/132.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}