@font-face {
font-family: '132';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@51219d251e71d7b2105876b72080e124ae9a3e64/1711139277/132.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}