@font-face {
font-family: '132';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@73cb98a351b28f6ae6d0c6b677efde7fc0f2596b/1711139277/132.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}