@font-face {
font-family: '133';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@83a7581f68c3b5fd0e2786b4edcb31917c61ec1d/1711139277/133.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}