@font-face {
font-family: '133';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@53f8828285743ad861f0d83e292bd587a5fbd0e2/1711139277/133.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}