@font-face {
font-family: '133';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@54e4f15c6d60928b0c2c876bce377c70763d46a2/1711139277/133.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}