@font-face {
font-family: '134';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@a4acb1cb617ded08ceee794f9d82496f5190c5a0/1711139277/134.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}