@font-face {
font-family: '134';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@7ef2035750e6d6ce58f002ea31725ddfab9fb32d/1711139277/134.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}