@font-face {
font-family: '134';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@6e9b7c7118b6ceef0069d8c4528c97b8411b3562/1711139277/134.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}