@font-face {
font-family: '135';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@748242548f2d1abc4a53b918badb20de3851fe7b/1711139277/135.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}