@font-face {
font-family: '135';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@8974f45ef571e21643e137caae4dc9260da2fc78/1711139277/135.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}