@font-face {
font-family: '135';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@08d2186eb06e1a3ad27090c4a25c24586ee5e701/1711139277/135.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}