@font-face {
font-family: '136';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@b018cb78b162aff4a57ea1341b7c2f71569fde5e/1711139277/136.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}