@font-face {
font-family: '136';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@d3daf58925c4e5421f325b7810e301b7d8befc99/1711139277/136.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}