@font-face {
font-family: '136';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@10a1168a975882a81e65d31707fd39b26edcc8d8/1711139277/136.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}