@font-face {
font-family: '137';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@e4e311c0144a470aef06023757bd4b4b797a58fb/1711139277/137.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}