@font-face {
font-family: '137';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@7f791bbed1a9fa06db34739aeb3b9b3d803b1c94/1711139277/137.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}