@font-face {
font-family: '137';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@d6c2d96dbb4c4e4cfd3bedf968eb475aba60f5a3/1711139277/137.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}