@font-face {
font-family: '138';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@a01bfc8c4fa3a39f1a5ded82993c0123afc99313/1711139277/138.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}