@font-face {
font-family: '138';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@1ad775cae2d9e34feace99b9e09c307299e6a0e6/1711139277/138.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}