@font-face {
font-family: '138';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@69b8c3f338392d50874f172b2385b5152c350581/1711139277/138.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}