@font-face {
font-family: '139';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@d5b44b4c121ae96b3c322e453376add60df948f5/1711139277/139.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}