@font-face {
font-family: '139';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@56d043fad5c7241fd3f4912c86900e06205dc6e1/1711139277/139.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}