@font-face {
font-family: '139';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@7af1b698d3c39d1fb61dc2210e0aecc3570b158c/1711139277/139.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}