@font-face {
font-family: '14';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@33e819e7897e6683d328cfeffc8ec926a7ab0b93/1711139277/14.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}