@font-face {
font-family: '14';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@45d24554a98835b7afc9c90afef44a2262eb0dd3/1711139277/14.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}