@font-face {
font-family: '14';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@6bbdd279eec52d3060f1263e7241b73e44d36139/1711139277/14.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}