@font-face {
font-family: '140';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@6ddeb5d94a15291bb9f8aeab4e26de4a00cb45c5/1711139277/140.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}