@font-face {
font-family: '140';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@2e3a4738503e32b670b437ff5a47202d4f8bd662/1711139277/140.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}