@font-face {
font-family: '140';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@1c949172342eb4b29bd1469ddd6afbbd8f651e0c/1711139277/140.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}