@font-face {
font-family: '141';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@167b4b509906198dc69db9483cef62f905c7e75c/1711139277/141.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}