@font-face {
font-family: '141';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@bb4daad30b1c7fd38feb5b68fb759ce306ebed9d/1711139277/141.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}