@font-face {
font-family: '141';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@03d7c1da13a26c719170cbc25c0fb10d483942e5/1711139277/141.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}