@font-face {
font-family: '142';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@88c8dbd1d126059e72967e08c3a32dd5e1b0ce5f/1711139277/142.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}