@font-face {
font-family: '142';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@6f10b6d18eeeec71f59e63e66baa6cf773980481/1711139277/142.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}