@font-face {
font-family: '142';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@769f5000d1127c270c787bcfe10e512a6cb4855a/1711139277/142.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}