@font-face {
font-family: '143';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@3d806db4cf908d169187c38431f06485b32199ec/1711139277/143.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}