@font-face {
font-family: '143';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@ca338fbbda08c64790cede8a8b98a5b9f0cc1264/1711139277/143.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}