@font-face {
font-family: '143';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@a911c99e117285e3e0c6e80b38bf7cdaf9b40e94/1711139277/143.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}