@font-face {
font-family: '144';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@2dc67a3cf7509c564698057d1565f827dc3ab8a2/1711139277/144.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}