@font-face {
font-family: '144';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@7c5361c7ae79a7aab16a09fa3042212304ddcd8e/1711139277/144.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}