@font-face {
font-family: '144';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@f373b782a1c45d323375e1e31aa94d6176dd20c4/1711139277/144.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}