@font-face {
font-family: '145';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@a7650367769b44be8795533a882d07882123652d/1711139277/145.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}