@font-face {
font-family: '145';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@0302082036a8021eba89908da3978902d947ecd3/1711139277/145.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}