@font-face {
font-family: '145';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@a44216c59a1a4d5179b5c3e28aff0abfdf53e7e9/1711139277/145.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}