@font-face {
font-family: '146';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@238b7eeebc5941c3594c075081dcb8fac85db1ad/1711139277/146.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}