@font-face {
font-family: '146';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@e4510a1bc55032830e6823fe95abaa37d37c713d/1711139277/146.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}