@font-face {
font-family: '146';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@c24fee43a3f42c62b668c42c9ad475d2cd771aec/1711139277/146.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}