@font-face {
font-family: '147';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@82ac19e29fc266cfbb2c1fd3cd22355eec1baac3/1711139277/147.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}