@font-face {
font-family: '147';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@81c2b6d0655da16eee1fd736aee4ee11a096ffb8/1711139277/147.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}