@font-face {
font-family: '147';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@17fc4ba85e3f3becc1bd7d0f59247932fe9bdaaa/1711139277/147.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}