@font-face {
font-family: '148';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@0568e6b4abfc4becc88141807a9326cbfc50384f/1711139277/148.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}