@font-face {
font-family: '148';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@94e076137ca69463a43cba3ba21d10f6e0a54599/1711139277/148.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}