@font-face {
font-family: '148';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@9cb4dd7eeee0412a16bb04e456ef992ae09a6ecd/1711139277/148.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}