@font-face {
font-family: '149';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@dc65dc238a902e2b65c42945243aa6c35403b867/1711139277/149.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}