@font-face {
font-family: '149';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@aadff91e9341d84321444e795c731ff6189b8109/1711139277/149.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}