@font-face {
font-family: '149';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@a0ef997e2a49d17efd7303299929ee9d01fa796d/1711139277/149.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}