@font-face {
font-family: '15';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@a4acd2e9c2579dc4f75370c53e445af7c6cfd8e5/1711139277/15.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}