@font-face {
font-family: '15';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@f73ab8e38caffdc852f748102028905d4bb0550c/1711139277/15.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}