@font-face {
font-family: '15';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@a64695d18e11bd4c119da1ae19193da0c3b2651f/1711139277/15.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}