@font-face {
font-family: '150';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@b13985b881c107417031a88a7d57140127529f4a/1711139277/150.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}