@font-face {
font-family: '150';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@86f73526f8da0ebd00772d3cd3971ff635df4120/1711139277/150.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}