@font-face {
font-family: '150';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@d5c3148791a47cd112c0d9915a0bdd123834538b/1711139277/150.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}