@font-face {
font-family: '151';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@08a72ad42c1e8906443a2020864f7658a9613a07/1711139277/151.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}