@font-face {
font-family: '151';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@bbe5267817c245f931eea29506bbd8053538ef20/1711139277/151.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}