@font-face {
font-family: '151';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@d0120cb856c47dded081f7a71966a395d2dbf51c/1711139277/151.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}