@font-face {
font-family: '152';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@2fd0a24534384d6ddba31a47eaa421c55471ccfe/1711139277/152.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}