@font-face {
font-family: '152';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@880454315834545dfed7e011c346db69f2bcf638/1711139277/152.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}