@font-face {
font-family: '152';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@d6ff3a4ac20cd31b659a5ca584abcb182acb3491/1711139277/152.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}