@font-face {
font-family: '153';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@a159ce15a41032deb97d628a025f2fc6f4cc5ae6/1711139277/153.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}