@font-face {
font-family: '153';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@134275349814a74566aa4ec7dffd469f74d02b89/1711139277/153.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}