@font-face {
font-family: '153';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@3b5f270537fdd75d0cd83db8094df364107d7a6c/1711139277/153.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}