@font-face {
font-family: '154';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@ef455e4de2827960bd29f34833332269c53d753f/1711139277/154.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}