@font-face {
font-family: '154';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@d78ca38a294b618d79f3d09e7e39ef61ac952b67/1711139277/154.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}