@font-face {
font-family: '154';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@1be0b3a7d65aa6b88276200f91d337dc8d4597c5/1711139277/154.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}