@font-face {
font-family: '155';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@1133973bbe3b2ce6a3a8e8997c1c4b97246b439a/1711139277/155.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}