@font-face {
font-family: '155';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@e05f8dddec46300ef151f886c1d752711eb9ec89/1711139277/155.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}