@font-face {
font-family: '155';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@943ab42b4010acfd3eda6d85a12d4183ac67d07e/1711139277/155.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}