@font-face {
font-family: '156';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@164a4612569fd13fe064b94d9fdd2bb28b03ef8a/1711139277/156.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}