@font-face {
font-family: '156';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@ee96f4bd83eac788aa3fd694fa3cded1cb76a35f/1711139277/156.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}