@font-face {
font-family: '156';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@4775cea7eedd6c631f03e7eb6a0bc19a883fdc03/1711139277/156.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}