@font-face {
font-family: '157';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@a97f01afc5f5d0cd00a62379fa92c17f1af48a7d/1711139277/157.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}