@font-face {
font-family: '157';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@7f7a9cab449b399f7c88d438cbac0865158f5696/1711139277/157.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}