@font-face {
font-family: '157';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@51ac9fbc15d653b0f1d93b510ab8e870084dc83f/1711139277/157.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}