@font-face {
font-family: '158';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@45363fbc2888c51f0b500a5df5febe52238a80d7/1711139277/158.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}