@font-face {
font-family: '158';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@44d63513756e3e365eea8f2537e11ce120d3a41a/1711139277/158.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}