@font-face {
font-family: '158';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@b3be2f63a808f88cd19b3654ebb3a18a838da00f/1711139277/158.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}