@font-face {
font-family: '159';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@43759eb7848026c498628cab2587bdc2a0d4b411/1711139277/159.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}