@font-face {
font-family: '159';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@a8cd7fe0adb7d0d496a7a666ab1bef4c2b77b283/1711139277/159.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}