@font-face {
font-family: '159';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@0b3242db0eb97143d30aae8e46ce6c327326acf3/1711139277/159.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}