@font-face {
font-family: '16';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@7e919f9a5d1faf0aaf4df9be6fdbf4334e3fc079/1711139277/16.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}