@font-face {
font-family: '160';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@65374a3cd85cb19b7815b384f0fbfe0c8c9c09e8/1711139277/160.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}