@font-face {
font-family: '160';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@b779cc9b3fc1733bddf672fb6de2bc1a407bd480/1711139277/160.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}