@font-face {
font-family: '160';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@2f83d6e6f4e1e2c404f2fb1fb1a410df287fc2ef/1711139277/160.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}