@font-face {
font-family: '161';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@5ccf184f2d6e567440e0b918563de42bd24fe891/1711139277/161.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}