@font-face {
font-family: '161';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@1234688553cb0294b38c962e72d1f7d913bea024/1711139277/161.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}