@font-face {
font-family: '161';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@9eea2be1326b3134954dfeea17aaeeed76e390e0/1711139277/161.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}