@font-face {
font-family: '162';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@b1c94b80b77dc67ffd18ca810e68ed0d537281a0/1711139277/162.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}