@font-face {
font-family: '162';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@f564d35cbaac95c98611728191de6f1c9fbf1333/1711139277/162.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}