@font-face {
font-family: '162';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@22e0dae17db3217521710160ffc10cc48db18d52/1711139277/162.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}