@font-face {
font-family: '163';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@12fc38a9be6c515d8731782295ab6172d1fb84bc/1711139277/163.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}