@font-face {
font-family: '163';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@f1d812bcc212b86a397464ef4a5f4d6c0418e4c7/1711139277/163.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}