@font-face {
font-family: '163';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@5db5d039d3f1b07f442627666a2a22ff5452b8af/1711139277/163.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}