@font-face {
font-family: '164';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@423552298a63f720bb79da8214f69ae2f570ac4f/1711139277/164.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}