@font-face {
font-family: '164';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@523cb373f70eee5979418a2e79d694e2f63c257f/1711139277/164.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}