@font-face {
font-family: '164';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@7b17f6c93aba4b5dedd8ee816a11e6b7fd656bd5/1711139277/164.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}