@font-face {
font-family: '165';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@5c53a5114d5480d2e5fc9f6eec75da7ebb55c78b/1711139277/165.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}