@font-face {
font-family: '165';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@baad12930475f69cb1e0318318312df2f94e93e8/1711139277/165.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}