@font-face {
font-family: '165';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@cfe3c15dd0785ad78ea159f89e91943b4f293b63/1711139277/165.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}