@font-face {
font-family: '166';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@99b009a3964156deecd7fef53001e5372b76944b/1711139277/166.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}