@font-face {
font-family: '166';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@ada5ffe6ec92ade5fa733117a4243dc315b3919b/1711139277/166.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}