@font-face {
font-family: '166';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@9c6aab2ce7e93ee51ee897c8583f7c06671d1e8f/1711139277/166.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}