@font-face {
font-family: '167';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@24badf2f497ee73d0d5ebb98ac8d8957c4703d34/1711139277/167.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}