@font-face {
font-family: '167';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@059af561d2dcc0d6961716cf7016b704295d44e4/1711139277/167.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}