@font-face {
font-family: '167';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@b71d8a09792c3469457fc39bdfdb3ef5d9cb6a41/1711139277/167.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}