@font-face {
font-family: '168';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@638765d6e53bdc1633a655b1c3ff69a14d5df4a5/1711139277/168.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}