@font-face {
font-family: '168';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@1dc5ab153e085b14f7347fc159f87614c8a6bf37/1711139277/168.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}