@font-face {
font-family: '168';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@bbe27485a97070ac5fc5af260b84ea12c8c59634/1711139277/168.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}