@font-face {
font-family: '169';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@a3d72d453c14e6fec3c5f26cbb4fe3a38a183812/1711139277/169.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}