@font-face {
font-family: '169';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@b6a737910e8f42c3de4f8a97825ae98528e8e410/1711139277/169.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}