@font-face {
font-family: '169';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@70e32947f170c9878341a0caf9761ff4b3693dfe/1711139277/169.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}