@font-face {
font-family: '17';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@c9cf0871fdcd77f15fcd69e1542fb6f88ea1cbbc/1711139277/17.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}