@font-face {
font-family: '17';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@5b9f0993ea5f4d05682a73e88691658b76843e80/1711139277/17.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}