@font-face {
font-family: '17';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@f4f4aad8d49a20a216592480b42aeb798d6e1b53/1711139277/17.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}