@font-face {
font-family: '170';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@8c3dd42480893b93199e76447c91910cd5e4d9de/1711139277/170.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}