@font-face {
font-family: '170';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@53989166a9e3b43d5422fabfd5eb9267717dca98/1711139277/170.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}