@font-face {
font-family: '170';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@1e59fdd55f005f8bedd2e31ffd19d766fa33728f/1711139277/170.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}