@font-face {
font-family: '171';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@9c9606613c8e590c9b08adf50fc4f84bb7c951e7/1711139277/171.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}