@font-face {
font-family: '171';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@8302d6e764368dac23b5218825324b0746118c3c/1711139277/171.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}