@font-face {
font-family: '171';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@53d319c403f1bd2bfe7af4945993e0e96626b1c4/1711139277/171.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}