@font-face {
font-family: '172';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@a528c60a2175bcc17069bb82f01da4c9b8a7a95f/1711139277/172.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}