@font-face {
font-family: '172';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@3c537ff2edd98054d081deef1ac524ea56b145c9/1711139277/172.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}