@font-face {
font-family: '172';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@9db220672518f266a94d4082cd2d13c63e36d3f9/1711139277/172.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}