@font-face {
font-family: '173';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@fa2096b06a63a3968976c8452bb659770bd56699/1711139277/173.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}