@font-face {
font-family: '173';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@a57d83192651d4c43e696a0f6391783beaa238c3/1711139277/173.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}