@font-face {
font-family: '173';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@9cb594c9295f7541ac5557c00cb75a6e206d71b6/1711139277/173.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}