@font-face {
font-family: '174';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@328cec92cf62603fba2c45fd44d03c998d912ea6/1711139277/174.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}