@font-face {
font-family: '174';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@52be7d237c733361db8bd15266f0f4ec1919d1f9/1711139277/174.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}