@font-face {
font-family: '174';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@f439d9cfb3ccf1deccb8a97909fb2560382f87c6/1711139277/174.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}