@font-face {
font-family: '175';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@bf2a837841e5bf7ad55a30e720320556811e5aa4/1711139277/175.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}