@font-face {
font-family: '175';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@024a667ed691d5503558cc451fa353c0309c0f9d/1711139277/175.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}