@font-face {
font-family: '175';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@f87e17afbe70cd58ff5128a805665ca50fc7d30a/1711139277/175.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}