@font-face {
font-family: '176';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@9611f5b6f8248f8ff9ea2c0a84d0505eaff69d60/1711139277/176.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}