@font-face {
font-family: '176';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@26e3a07c1c5d6d91031e95b48f8538ecd364e281/1711139277/176.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}