@font-face {
font-family: '176';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@cfda067a7fe3f1f89dd671b58a5cdc673f699273/1711139277/176.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}