@font-face {
font-family: '177';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@badaf907651cbe68b4f26e549e001670dcecfdf8/1711139277/177.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}