@font-face {
font-family: '177';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@0136f570b5d9d7a68092676bef72d46aba77f8d7/1711139277/177.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}