@font-face {
font-family: '177';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@1caa38dfd7b78a76f271c3cb90ba5e39f0b02271/1711139277/177.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}