@font-face {
font-family: '178';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@f9ca392a973085ee9671e1d70d3be1fc0adfe088/1711139277/178.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}