@font-face {
font-family: '178';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@c48e0c262148f9d4ab0aa5d7a7e8e3e9e0230afe/1711139277/178.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}