@font-face {
font-family: '178';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@eb3390b32c2970d4a912f6ebb6db95f601fda4cc/1711139277/178.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}