@font-face {
font-family: '179';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@08d28d2fe496e4641e1e223e09c26bc3f7bcf094/1711139277/179.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}