@font-face {
font-family: '179';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@dd2f4bade9fa3767ab4e09411316e5429b2db67c/1711139277/179.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}