@font-face {
font-family: '179';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@e252e6233fd3acea07d47b17dd94f5b7aa965d63/1711139277/179.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}