@font-face {
font-family: '18';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@3512e2ccd0d8f45bd6bd869f0296122d4eb418ef/1711139277/18.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}