@font-face {
font-family: '18';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@7c744bd0c4ed973e65b261badf40b97f62a6c706/1711139277/18.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}