@font-face {
font-family: '18';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@9d71a93fa35e8bd41bf5e6fb7cb2d8ef3649a4ce/1711139277/18.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}