@font-face {
font-family: '180';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@eb12a4c5e868f61966a2a27ad10ded82e2160fd4/1711139277/180.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}