@font-face {
font-family: '180';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@5d3f679483ec8b4a667c8929cc59aff2fdde5b18/1711139277/180.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}