@font-face {
font-family: '180';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@834ef261bb41beb4d6b294ef30d2eeed8a58dbb4/1711139277/180.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}