@font-face {
font-family: '181';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@fbf2cef1b56a8925bd941bc7fd184039847d629b/1711139277/181.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}