@font-face {
font-family: '181';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@7bc08d6e65525915ed2b9d7e8885c1510ac6cf31/1711139277/181.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}