@font-face {
font-family: '181';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@69bb49578a41288e8279fa41e14e22add0bea8b5/1711139277/181.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}