@font-face {
font-family: '182';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@d91781139c133c08c7263bdb3b72572e4292caf1/1711139277/182.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}