@font-face {
font-family: '182';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@5ffc8a46e87c6712b12af5e16152774a3bd68045/1711139277/182.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}