@font-face {
font-family: '182';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@0e2eea652f8f21b63892e2b4be87d6e9a08cc4d4/1711139277/182.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}