@font-face {
font-family: '183';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@01005a86401df292def8fc5af848e130165ba308/1711139277/183.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}