@font-face {
font-family: '183';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@9abe001d7d4643e1c0d597736ddbe0e8b7613989/1711139277/183.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}