@font-face {
font-family: '183';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@d8af14619c8f646d34c4b13f19bea5fddded039f/1711139277/183.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}