@font-face {
font-family: '184';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@2862eabacb8fe2c832f2de61797f3232390532b8/1711139277/184.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}