@font-face {
font-family: '184';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@e637c4f7673a7031762b2da241e66a55f4224340/1711139277/184.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}