@font-face {
font-family: '184';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@dd0f102b8573100eab271b30d125f2b87d49e597/1711139277/184.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}