@font-face {
font-family: '185';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@4236124b2cf128dcba596b16cde7bdde07322865/1711139277/185.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}