@font-face {
font-family: '185';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@6482e73bf8ab49279da5aaf6c4b9f1a77044e735/1711139277/185.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}