@font-face {
font-family: '185';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@e6f096c31af9caf5eecaad1318e2aaec610faef0/1711139277/185.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}