@font-face {
font-family: '186';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@e0ed90b3fd22e17ed3c4af0706975915dce28233/1711139277/186.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}