@font-face {
font-family: '186';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@9553615cb0bee411d3bdf73edfd06bd1adadde1a/1711139277/186.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}