@font-face {
font-family: '186';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@cef9143f98eaef03b3e27c8a28faac628ea29101/1711139277/186.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}