@font-face {
font-family: '187';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@1abb862f36e46835b48154c0907cb864d7125724/1711139277/187.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}