@font-face {
font-family: '187';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@ab1a34b7277b5d2bc93d53320058f7919dcaf5fc/1711139277/187.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}