@font-face {
font-family: '187';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@e8c7597f370be3134250c20769ba2bb785a995af/1711139277/187.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}