@font-face {
font-family: '188';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@48fb4e28677d130e714dab2b60f6cebed2aefd47/1711139277/188.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}