@font-face {
font-family: '188';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@4fbf3183e70729dd3e033ab51a754dcb3953759f/1711139277/188.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}