@font-face {
font-family: '188';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@33a6882b3ae99567ce27ad8b7c1e5060511d76df/1711139277/188.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}