@font-face {
font-family: '189';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@e4e247342589ff54fdbc765d14306642f78eb47f/1711139277/189.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}