@font-face {
font-family: '189';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@53b4b71e540eff441c36bfd1bba012744900c471/1711139277/189.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}