@font-face {
font-family: '189';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@d0178e5b0aa5d053d46dcc8cfff2d4f5a0087332/1711139277/189.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}