@font-face {
font-family: '19';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@d4b1f81cd80ad834f3bf0e355c6297ab521229f9/1711139277/19.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}