@font-face {
font-family: '19';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@0c785c7898b4d070bbc28389b484b079246681b5/1711139277/19.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}