@font-face {
font-family: '19';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@31e3707e941ad2b6ad4541d76ac0721d30d6fe16/1711139277/19.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}