@font-face {
font-family: '190';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@904cf1bfcc4eb0ae7ad26c6977fb24a4e8c6eeea/1711139277/190.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}