@font-face {
font-family: '190';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@c3df423acb23a11796ac0ed14a7cb47dd26f5490/1711139277/190.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}