@font-face {
font-family: '190';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@d23b04fbbf0e0bc4d356f932ab7a1eb3a223a266/1711139277/190.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}