@font-face {
font-family: '191';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@59a9d5ad85fec2c330555b4a4ec3f2fa37da56e0/1711139277/191.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}