@font-face {
font-family: '191';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@b4d8c67c1ab46be66d891920a5e03997277a3948/1711139277/191.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}