@font-face {
font-family: '191';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@c103aaa34e9b725a8e9c30fb29e47a64a4f2957c/1711139277/191.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}