@font-face {
font-family: '192';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@89f056d3bd70d174c8d9391a95a9548e143b6826/1711139277/192.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}