@font-face {
font-family: '192';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@9b9e1bde5f5b6fef62731d249464311a937ce5b7/1711139277/192.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}