@font-face {
font-family: '192';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@bf8be626451dc61edfbace5b8e067de10136acd8/1711139277/192.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}