@font-face {
font-family: '193';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@298a6f135829b77f4c172bc5d2265c8ccf68b5af/1711139277/193.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}