@font-face {
font-family: '193';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@ed6ab4c5b36f79f1065a78471c507fca3061ca84/1711139277/193.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}