@font-face {
font-family: '193';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@79946cd071764bce9eaac73a0cffdf90aa94c81c/1711139277/193.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}