@font-face {
font-family: '194';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@2ba36daa6ce611060e07655d392755cabec49b24/1711139277/194.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}