@font-face {
font-family: '194';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@f385f0bef672900dc0f6f83e09d52e2eb3ec216b/1711139277/194.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}