@font-face {
font-family: '194';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@733de36b1c97d7081a93db5929e7075ef1935e26/1711139277/194.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}