@font-face {
font-family: '195';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@4b3f01c0f6e96004caa98dd5ccc04a869c9b4cc5/1711139277/195.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}