@font-face {
font-family: '195';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@5d31b483bce574c3579ef5d5eeacf9b6827f752b/1711139277/195.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}