@font-face {
font-family: '195';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@ccaa3248376c2d526c727fa253c3185f86f0e6b7/1711139277/195.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}