@font-face {
font-family: '196';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@2b31ecefdb765d1f2c8006ba026ec8b5ea41efa8/1711139277/196.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}