@font-face {
font-family: '196';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@21f91fe6ddc9d96a01357d31b1fd3a7f646e3af0/1711139277/196.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}