@font-face {
font-family: '196';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@139858903a66434623d6baa42c2d19ef5a62d4e4/1711139277/196.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}