@font-face {
font-family: '197';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@ae3d7e06c93501e550892769381d94af09b64106/1711139277/197.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}