@font-face {
font-family: '197';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@4c6f5b211877a75079427ce07c253d57cbaddbf7/1711139277/197.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}