@font-face {
font-family: '197';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@eaae65dd151cd4c7f83affc99a91fecd48ac896f/1711139277/197.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}