@font-face {
font-family: '198';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@72dd3a0a70b931fceb58e9e60d13d152d17dfc95/1711139277/198.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}