@font-face {
font-family: '198';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@85478c29d8d8ed3cd36403df9f58f9624165dcb5/1711139277/198.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}