@font-face {
font-family: '198';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@575dae7468962a0ea62d4cc97718836258a4586c/1711139277/198.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}