@font-face {
font-family: '199';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@9053169709cca77d78c2baa2f0bcdba6ce6665ff/1711139277/199.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}