@font-face {
font-family: '199';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@964f57d697d34f5868808df1fcff6ad411b365fc/1711139277/199.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}