@font-face {
font-family: '199';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@8bdc1c9633f3b9cb78ec58d4af8e771fc1e5f262/1711139277/199.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}