@font-face {
font-family: '2';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@c55d3d945dbc8fe136a3faca37dbcb439e458cda/1711139277/2.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}