@font-face {
font-family: '20';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@18c1e88bd894687f678175bdaa3b5f588278b760/1711139277/20.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}