@font-face {
font-family: '20';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@f21ec98cda1b464e6b6f322bbd8f91b95037adbe/1711139277/20.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}