@font-face {
font-family: '20';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@8f2c89b0f3b6b7542003009d0531bbe741d3c679/1711139277/20.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}