@font-face {
font-family: '200';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@06b20fa075c2f9eefc0245a3538f02a57907083c/1711139277/200.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}