@font-face {
font-family: '200';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@0aa74eacc127976d60ebf84674c4741a5c5911fb/1711139277/200.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}