@font-face {
font-family: '200';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@a90c2352019c7403c665ecf9b5a2f6d4e022c967/1711139277/200.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}