@font-face {
font-family: '201';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@74ad2f57cf59d9a61b8c8cfa209b2b38178505a2/1711139277/201.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}