@font-face {
font-family: '201';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@e961e4ad324f23813a312ed9f00213fdef21f49a/1711139277/201.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}