@font-face {
font-family: '201';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@fd44b5b150a0b1ad10c86b4bd1786c05151e1199/1711139277/201.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}