@font-face {
font-family: '202';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@357c0469b324f5e9a7c757104d0376ae98c0f3fd/1711139277/202.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}