@font-face {
font-family: '202';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@425118c0f1c9f94c2e5deb90e5a8dfe8fc19586e/1711139277/202.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}