@font-face {
font-family: '202';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@edad0ea09fb496adafd081352674ae65abbebced/1711139277/202.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}