@font-face {
font-family: '203';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@6ee2aa1e3d8ecdc4d00b5ec2d0dac3a72cb1adec/1711139277/203.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}