@font-face {
font-family: '203';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@5b61b2ae0b13ab25a8b86790f62303bea96dcc4e/1711139277/203.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}