@font-face {
font-family: '203';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@569147aff6e90d9dc2ffcc33ff4ad7845daf1018/1711139277/203.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}