@font-face {
font-family: '204';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@7f4c3530dc0aa4b0f9419be96e774397be31a757/1711139277/204.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}