@font-face {
font-family: '204';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@64b8bbfc6ef3d4f34fb84ff35f76f8ed4848d983/1711139277/204.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}