@font-face {
font-family: '204';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@e54ea3139c2aab377dc4be35743611f03c633b43/1711139277/204.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}