@font-face {
font-family: '205';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@27e71d3fa240c81cc60281f127b37b52f853ce01/1711139277/205.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}