@font-face {
font-family: '205';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@52f029e34dc66e6490bc6ba3eb1811715ae7b0b6/1711139277/205.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}