@font-face {
font-family: '205';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@b964c218fcfab1c5a2423b7cad257807d3f32149/1711139277/205.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}