@font-face {
font-family: '206';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@033dcd0fa92090ae0a9caa59986f513bb53b5142/1711139277/206.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}