@font-face {
font-family: '206';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@27865f8c62295c84bc50da0dfa80af4ce5117a45/1711139277/206.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}