@font-face {
font-family: '206';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@2f51f2f655f4e1c843b96289050d73bcba435779/1711139277/206.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}