@font-face {
font-family: '207';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@b7eae3a01e27b4666475b973ba41587c11048bd7/1711139277/207.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}