@font-face {
font-family: '207';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@6a305d5ea0c16eb79241866dc923b145af84cfbf/1711139277/207.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}