@font-face {
font-family: '207';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@0610a205419cc67b12d8025fb167cc69255de4d5/1711139277/207.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}