@font-face {
font-family: '208';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@930b7be69f4241a4ffa2abe9b3833b665e0345fd/1711139277/208.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}