@font-face {
font-family: '208';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@c71cdb797fd3f387cc288e6d487a266702a89066/1711139277/208.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}