@font-face {
font-family: '208';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@ae246427c8decfcfb5bd4310d5e94a679f413bea/1711139277/208.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}