@font-face {
font-family: '209';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@9b70fbdec745243f6710368271149d5af0b72bf2/1711139277/209.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}