@font-face {
font-family: '209';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@f5c9d6ab97b9bbebbdb718d5b21ba133a33fc0b0/1711139277/209.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}