@font-face {
font-family: '209';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@f19c8a36681489165f17a433daf5e1e2d98a56d5/1711139277/209.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}