@font-face {
font-family: '21';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@28671daf227ae4d7138813eeea47b22a296fdb7d/1711139277/21.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}