@font-face {
font-family: '21';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@16de571b301759488baaa9529a8faad08f43205c/1711139277/21.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}