@font-face {
font-family: '21';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@f48f8259fbb74df6aced99b6195d825ffc88c9e9/1711139277/21.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}