@font-face {
font-family: '210';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@8e59a4b27a1f54cc7bdfa3fcc27afc84edbc27b1/1711139277/210.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}