@font-face {
font-family: '210';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@117df36da04263f7f8290c71452547d7c1ea4185/1711139277/210.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}