@font-face {
font-family: '210';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@21af8068f2c4b110c5b13d608b4246799d3c0248/1711139277/210.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}