@font-face {
font-family: '211';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@efa46c8535f05764b785435c69add48d77905b6e/1711139277/211.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}