@font-face {
font-family: '211';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@44ff4c108d81b23e34b35c3acd6e534e9d7e4c47/1711139277/211.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}