@font-face {
font-family: '211';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@542394cf75a1f8cbf2911eb53985996a7a87aedf/1711139277/211.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}