@font-face {
font-family: '212';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@3c0a379cb81619ba65254ced5c6e6c13f25b95c0/1711139277/212.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}