@font-face {
font-family: '212';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@ace26f76f7dc2cc5bef021e6316d894dfa829971/1711139277/212.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}