@font-face {
font-family: '212';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@4edaeaf74777c3d5f225c96462ce09caebf371bf/1711139277/212.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}