@font-face {
font-family: '213';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@2021d0c759f67019fef0a1e0a6c99fdddd543bcf/1711139277/213.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}