@font-face {
font-family: '213';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@3ad82cec28f678a0de6698615565dfb839b0a6f6/1711139277/213.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}