@font-face {
font-family: '213';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@63da2bfe2417e945f2f2d8951bd045e041f88dde/1711139277/213.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}