@font-face {
font-family: '214';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@bb568a6738ce55c04dde9d15e560491cfd5e9c2f/1711139277/214.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}