@font-face {
font-family: '214';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@284000733e7e4156b70a1b521bf2d327c9eb8aed/1711139277/214.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}