@font-face {
font-family: '214';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@b7e6034fb37806ec7e69a8c5dd812529733af980/1711139277/214.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}