@font-face {
font-family: '215';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@6d46cc2488a9ed58b28ee2888de2255ae5ce1cad/1711139277/215.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}