@font-face {
font-family: '215';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@7f0ac0aff6aadfa8dbf40ba461c92decc45f65e4/1711139277/215.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}