@font-face {
font-family: '215';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@9f77c059cab04769fcd7845941c1233ac0466ac0/1711139277/215.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}