@font-face {
font-family: '216';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@220d2a35a80fbbc0269b6a68a6ecb4bc11c14cfb/1711139277/216.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}