@font-face {
font-family: '216';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@f94b8c795ac9a8059e7dd8498d6b32b98aa583d3/1711139277/216.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}