@font-face {
font-family: '216';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@c8a94b18afb2f4c26ec72cb3931dc15b4461a467/1711139277/216.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}