@font-face {
font-family: '217';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@adc79cf093947795838d31e73ef1cb8355d78db6/1711139277/217.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}