@font-face {
font-family: '217';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@962f6bdb82d90082ac8a64a70ad7346eb74d9d50/1711139277/217.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}