@font-face {
font-family: '217';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@efa18cb43b622a54678ad4bbbd296fbc923d6b2d/1711139277/217.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}