@font-face {
font-family: '218';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@f1ae6a09db8a107ddfc6b9f3e44c9e3bdd35b938/1711139277/218.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}