@font-face {
font-family: '218';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@3d5ace860b715e1f9933ccf3302cbdad88aca9a9/1711139277/218.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}