@font-face {
font-family: '218';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@661d3483c8c947714b11000cb1aff4a2e6a92c6d/1711139277/218.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}