@font-face {
font-family: '219';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@76fd3818b3235f4acf0ada261152f72ca2509f81/1711139277/219.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}