@font-face {
font-family: '219';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@e5aad9837690572dcbc4c3587c593e9f5607f051/1711139277/219.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}