@font-face {
font-family: '219';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@c39da7d9dbbdb3f7bd4fc63cc4e35e5aba68db2b/1711139277/219.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}