@font-face {
font-family: '22';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@cd2b3729c7f39c5dd876da7ec931ba1802e18b09/1711139277/22.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}