@font-face {
font-family: '22';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@7025da87a356e18dc816046be9f00c3f48a399f5/1711139277/22.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}