@font-face {
font-family: '22';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@2de51d03aa1374f120621c44ced93cad8b9947db/1711139277/22.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}