@font-face {
font-family: '220';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@3e14b6bcdc0abf214364568e8326848a4cd9cfd5/1711139277/220.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}