@font-face {
font-family: '220';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@7a72838d11afd4c18ccb63fa634928638ecb2a52/1711139277/220.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}