@font-face {
font-family: '220';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@c86424c15ceacd4ffb46ad537d4456b5884afcf9/1711139277/220.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}