@font-face {
font-family: '221';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@0df259cf4648e07a0c4ca4e083663c9d0078dba3/1711139277/221.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}