@font-face {
font-family: '221';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@980d67699d15a2f8c13bd4fb36f41d50223f9fa0/1711139277/221.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}