@font-face {
font-family: '221';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@123670bcf03c90e34891d98d92c0c8147fac37a4/1711139277/221.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}