@font-face {
font-family: '222';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@922fe1a9322657fbc54a214788562c7e467afe2d/1711139277/222.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}