@font-face {
font-family: '222';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@bab96bc33a5b01dd56070edb1925f7aa82dd4455/1711139277/222.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}