@font-face {
font-family: '222';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@c77c442f1f2ef3db2e0423b75680167edb66ab92/1711139277/222.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}