@font-face {
font-family: '223';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@d809dc95a82895d541898f5a5de8235f01083984/1711139277/223.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}