@font-face {
font-family: '223';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@7c06e4184b11ad9c5c107a4e29ff0f37dc73cadc/1711139277/223.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}