@font-face {
font-family: '223';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@7df1d2f92896b7dad268d2ee03b089424ff9afd7/1711139277/223.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}