@font-face {
font-family: '224';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@0470db647a11d9e3195fa59db0773257da155f15/1711139277/224.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}