@font-face {
font-family: '224';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@bec0b8d60d20dc7ab9096b7ab915a93bf88c5b14/1711139277/224.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}