@font-face {
font-family: '224';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@3c79de92e025682bfd2231191b1b2af0c861c1a0/1711139277/224.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}