@font-face {
font-family: '225';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@b25a27d5a6b48ecf1f735d39eef0cdbe82c2dbe1/1711139277/225.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}