@font-face {
font-family: '225';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@f078e319e60ef464808a9378a3545001db493f3b/1711139277/225.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}