@font-face {
font-family: '225';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@e73c47ef419bdd4e4f657c9483692e05ff160172/1711139277/225.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}