@font-face {
font-family: '226';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@ae8189c71b5b69f7c57f92d210a3ffc89fa1092e/1711139277/226.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}