@font-face {
font-family: '226';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@303bd4a4618ba4edff9f5bab8af2e9713cfa1aef/1711139277/226.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}