@font-face {
font-family: '226';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@0cd4d218084a5a1fcf75957578ba28edc99088ac/1711139277/226.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}