@font-face {
font-family: '227';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@06f31f50ae7f66d28794af35885ea53ef105f636/1711139277/227.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}