@font-face {
font-family: '227';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@d110991c62e94130cd436ec2490fccdfbc8b6618/1711139277/227.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}