@font-face {
font-family: '227';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@e0c68772713a4fb189ea7ba7b45018cdd09c82bf/1711139277/227.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}