@font-face {
font-family: '23';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@ed8a6c0a6871633e662f2b7e103af9c63dc2484e/1711139277/23.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}