@font-face {
font-family: '23';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@ad14adf7a4266e65200ab792968e770fd0bb194c/1711139277/23.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}