@font-face {
font-family: '23';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@fdeb6de2ded92b7847232eac103c63b988fb49e0/1711139277/23.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}