@font-face {
font-family: '230';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@3f4ee7e50966b76d7fbd67ebc2637ba21590cc35/1711139277/230.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}