@font-face {
font-family: '230';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@abe9d29da69850235d281d6a0f3ad8e399e3206b/1711139277/230.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}