@font-face {
font-family: '230';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@5f02a854b4e1f359c513978de006ec7d2cff5608/1711139277/230.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}