@font-face {
font-family: '232';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@f7a0d2411af4af4f2716fbf0e3ff080989dfc74d/1711139277/232.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}