@font-face {
font-family: '233';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@f7e7cc79f1583b873e91070041aabe616308058d/1711139277/233.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}