@font-face {
font-family: '234';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@0fd204d30522fcc02cb3a58f5cf39f607488dfff/1711139277/234.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}