@font-face {
font-family: '235';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@3079bf797ef40e076d96313d8ce562afa5e086db/1711139277/235.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}