@font-face {
font-family: '235';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@4d96042f08b7df000e1a09733d4e374eca4c4d5f/1711139277/235.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}