@font-face {
font-family: '235';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@48e7afb7edb35071f43cb82a5c020afa48981c0c/1711139277/235.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}