@font-face {
font-family: '236';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@5d77d67f0446a1bea3256dc1c7828804be0b5ea3/1711139277/236.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}