@font-face {
font-family: '237';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@27ede87ac6241b00752e8c4d48411420d3be29e6/1711139277/237.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}