@font-face {
font-family: '238';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@cadba0177d99ff4c96210e8832b0cfe703426f81/1711139277/238.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}