@font-face {
font-family: '24';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@a37f7fbf899d6c93424bc3c94f0ddb04a8763254/1711139277/24.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}