@font-face {
font-family: '24';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@dbaf31a40b9cb92e744d0b3d5b484aa5e47d9cb3/1711139277/24.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}