@font-face {
font-family: '24';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@0984c0467f8be2a165b38d0e5379990259b42f99/1711139277/24.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}