@font-face {
font-family: '240';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@2722d00ee5e30b53283c02eecf3a6bba5b5011a8/1711139277/240.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}