@font-face {
font-family: '241';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@369a72321460c9b4c3acf1882d6dc755299c9ab6/1711139277/241.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}