@font-face {
font-family: '242';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@2d266601ee366da75bd960097a2ee962e93e598b/1711139277/242.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}