@font-face {
font-family: '243';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@4977f1a1d06fe859d51e8341b65293d7df394d5a/1711139277/243.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}