@font-face {
font-family: '244';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@75dadfab5c87a20bed8db3ce7d2f0b27e1efe265/1711139277/244.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}