@font-face {
font-family: '245';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@7643e7b8de483805197c7ed2163684485024dbd1/1711139277/245.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}