@font-face {
font-family: '247';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@da4c48b40731276f23978b3201a2e2b2438f4fe2/1711139277/247.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}