@font-face {
font-family: '248';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@7e1e5938f674df52a39e03afdf04b8a68f2d30e7/1711139277/248.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}