@font-face {
font-family: '249';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@1bb960fed324ab863586a0f4bc860532606851f6/1711139277/249.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}