@font-face {
font-family: '25';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@b9b103d92dfb1f83506b7057e1331b42305f2105/1711139277/25.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}