@font-face {
font-family: '25';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@192063d635b4ae4c142e2b2ca22a7c966f2c8bdf/1711139277/25.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}