@font-face {
font-family: '25';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@59f0033f54f1120e2c9b6ff584309d2803d893dd/1711139277/25.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}