@font-face {
font-family: '250';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@af2faf87f361ecf20cdad9d2fd586678b50e66d7/1711139277/250.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}