@font-face {
font-family: '250';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@9936eb5733f8c9b5e585c74c2d9ef27b1c3fc11a/1711139277/250.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}