@font-face {
font-family: '250';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@85373c18aeb6b7a5b4f0cb9e1ab0b8157766b52f/1711139277/250.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}