@font-face {
font-family: '251';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@1d246924e9e17875dc41afb96d55dfabbb05392a/1711139277/251.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}