@font-face {
font-family: '252';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@e663e49ad345c7a09d6da36797a5f9a0dbee04d8/1711139277/252.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}