@font-face {
font-family: '253';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@079df7a4565fa9bcfa25b35830e0c71d33eaf715/1711139277/253.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}