@font-face {
font-family: '254';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@8cb2c174a0c165573ade9c574ecaaf0b2dbb1ca0/1711139277/254.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}