@font-face {
font-family: '255';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@2deb69d7d6e9efe3aeb7ff78b0e5880328179af6/1711139277/255.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}