@font-face {
font-family: '256';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@aadfed976500c14a4303d2864733296fb6374e9d/1711139277/256.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}