@font-face {
font-family: '257';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@da1d114c5acf2920854efacd3db1f0779ef2a3ab/1711139277/257.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}