@font-face {
font-family: '258';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@dbb41a79d410f1f80a9d020af171ccee1a4da31f/1711139277/258.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}