@font-face {
font-family: '259';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@3c6696e24b483db7ef4e7658018a38d0506eca1f/1711139277/259.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}