@font-face {
font-family: '259';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@4d4d1b4128bbf5932345de6b8c15e30ecf60de47/1711139277/259.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}