@font-face {
font-family: '259';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@23ff164f1efe49aa2d68617357a1c3ac7c04773e/1711139277/259.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}