@font-face {
font-family: '26';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@1e46c516e87792cb42e7b2a9784b19588b690088/1711139277/26.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}