@font-face {
font-family: '26';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@22a6794869b218713775b28970f3875713e1aa33/1711139277/26.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}