@font-face {
font-family: '26';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@c47e4d8b4634effe0e813406411d29126b35998c/1711139277/26.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}