@font-face {
font-family: '260';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@2742d27cec0a467c5cfbdc0916f4d6f5e749987e/1711139277/260.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}