@font-face {
font-family: '260';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@7c8577af59ff3664348cc1c03f43b8c55ff82997/1711139277/260.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}