@font-face {
font-family: '260';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@8006f21fe3258ef5022689acbde6914b82ead006/1711139277/260.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}