@font-face {
font-family: '261';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@9462b70a85308d68aabf2599fd9330a8d95aed6e/1711139277/261.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}