@font-face {
font-family: '261';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@9e6955801fad9f785711162c4ac01406516e4131/1711139277/261.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}