@font-face {
font-family: '261';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@bcc2d39f59a86e312d9b0af06eab0e18839fc6d9/1711139277/261.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}