@font-face {
font-family: '262';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@ac354463d5d55585e45316e1d69c87acfc233731/1711139277/262.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}