@font-face {
font-family: '262';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@a3321a587df8eadc4bd86036ee7b1b0dfa1ff8d8/1711139277/262.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}