@font-face {
font-family: '263';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@345603705d7f1babfe67528217c2f35ce40c58d0/1711139277/263.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}