@font-face {
font-family: '264';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@d8e1083bafcf3af668d160de2244fbe4d50f8bbe/1711139277/264.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}