@font-face {
font-family: '264';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@18c3e18ea2ad84b5df5cee77a8d920f06f6946a4/1711139277/264.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}