@font-face {
font-family: '265';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@7c765a74a855473f5b27fd92f2e68d1d0f51516b/1711139277/265.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}