@font-face {
font-family: '266';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@aa53dc243e0aba440dffa4addc89653fb9806efa/1711139277/266.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}