@font-face {
font-family: '268';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@065d807091c9cf768c27e6098690691c3619ad05/1711139277/268.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}