@font-face {
font-family: '269';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@116e6b24a5c6dec58a4acd3c99f87b9cefabad30/1711139277/269.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}