@font-face {
font-family: '27';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@4a375d387528cf39f5404100dd3285123088aae3/1711139277/27.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}