@font-face {
font-family: '27';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@accbc332a0acec1b0616124644616b9dddef8585/1711139277/27.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}