@font-face {
font-family: '27';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@e086bf274604303219f672a49e4fcaaff5cc95f9/1711139277/27.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}