@font-face {
font-family: '270';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@d8cab8305da790d0e33ce32f9e48c1a47671dc3f/1711139277/270.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}