@font-face {
font-family: '271';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@87164fbdf8b91f55d3d56a4d5e0d61a30d86ee1d/1711139277/271.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}