@font-face {
font-family: '273';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@796afdd14f6176aa3ed0d572011e3c1cedb76fac/1711139277/273.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}