@font-face {
font-family: '274';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@7e7a0d83c788a70a640f45b0d84fa7d0825e29ab/1711139277/274.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}