@font-face {
font-family: '275';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@1b7207112d77708b55a4dee9c36dba3b44ade95a/1711139277/275.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}