@font-face {
font-family: '276';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@1d606a809152507de858bc364d82925a099217fb/1711139277/276.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}