@font-face {
font-family: '277';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@fefb71c54a7133284937ef855f1aa7901a6541d9/1711139277/277.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}