@font-face {
font-family: '278';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@46452f601b0d332646b6f2256dcc32752ebe6d5a/1711139277/278.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}