@font-face {
font-family: '279';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@33a46a6af2fd3fc7abb9e2469581186e58fabda9/1711139277/279.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}