@font-face {
font-family: '28';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@b67b157ef3fc9cc9b626a4a2dc54257a4fba9ed4/1711139277/28.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}