@font-face {
font-family: '28';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@59632ecd693484cb4fb21a3c00ac115ba67aa85a/1711139277/28.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}