@font-face {
font-family: '28';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@7cbac059c06bccb590aac75e7eb62ca5319fddeb/1711139277/28.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}