@font-face {
font-family: '280';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@9bd0da93ace55547aead9c5388dad4122a078836/1711139277/280.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}