@font-face {
font-family: '29';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@57a25e2d9a7a6ca1dbd138c2cbfb77eef3e30929/1711139277/29.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}