@font-face {
font-family: '29';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@7765574e6e5272d245ecbe7d37e67e97e9573b16/1711139277/29.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}