@font-face {
font-family: '29';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@a64bbf341b2800b876c8e9b154fc5d8014f83535/1711139277/29.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}