@font-face {
font-family: '30';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@74db3bd530bc668a320f2754a67b16e7b703eccd/1711139277/30.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}