@font-face {
font-family: '30';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@aea2970d2bc0f2eb7e90a8b5967ee0ac1466c8cc/1711139277/30.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}