@font-face {
font-family: '30';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@f27d1a43f57550368c19ed204cdbd3184ea813f7/1711139277/30.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}