@font-face {
font-family: '31';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@cf608bc2d8e4e3bee68da20531c58673ccdf43e3/1711139277/31.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}