@font-face {
font-family: '31';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@c424f3545c6d199f35d037efcfceee841a9fd300/1711139277/31.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}