@font-face {
font-family: '31';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@f3017007de3bb7f381a465de3068ddfe07e0a64a/1711139277/31.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}