@font-face {
font-family: '33';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@f3f0b4411df1e991b355f7856c44342488e19a28/1711139277/33.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}