@font-face {
font-family: '33';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@3e4a2c526c7a9a498188fe35ebba1650791d6565/1711139277/33.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}