@font-face {
font-family: '33';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@57880455c8689caedf932b2571164adcfbd5aa2b/1711139277/33.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}