@font-face {
font-family: '34';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@933e01dc2fc8ce44b17537ab30c4d831b8f463ce/1711139277/34.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}