@font-face {
font-family: '34';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@022749a55b260336b932b7b08ddfcc4efd529586/1711139277/34.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}