@font-face {
font-family: '34';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@43f1eb61aa03b84578d1379628af9eb2fdc27ce4/1711139277/34.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}