@font-face {
font-family: '35';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@a47760fae9ce84e29bbc905676aa40b93a96f66a/1711139277/35.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}