@font-face {
font-family: '35';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@e16a444a03ae868fc60b49007077f3c8db8f8ef5/1711139277/35.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}