@font-face {
font-family: '35';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@82a9fa7378ce1d8fd84202afbf85207832d5ce50/1711139277/35.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}