@font-face {
font-family: '36';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@61521113aca32417f3c97e12b8ccfe03549049dc/1711139277/36.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}