@font-face {
font-family: '36';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@cf9fae2894f357b5de015eeee1ca3b535f979bd2/1711139277/36.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}