@font-face {
font-family: '36';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@25e370e2c1dccf28e10e67285a2b068602e942bd/1711139277/36.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}