@font-face {
font-family: '37';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@3884b0624818dfd1707e57e062921c2624aea614/1711139277/37.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}