@font-face {
font-family: '37';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@c8fa2d1b678666d93682f28e72c29ad2dc763f39/1711139277/37.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}