@font-face {
font-family: '37';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@4eee993fa0e569fa9e62cf462f96c3351a06da5a/1711139277/37.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}