@font-face {
font-family: '38';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@6ca51905cbc8a93c4506cd173f892ebd2bb72219/1711139277/38.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}