@font-face {
font-family: '38';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@c34c08b292d96745cd61fa447e2a735f0455cb93/1711139277/38.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}