@font-face {
font-family: '38';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@6811b708ceb3ea18899921891c23999b21ee59ed/1711139277/38.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}