@font-face {
font-family: '39';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@8e1e9bbdd5d9d1642cad3b331c101ef9e314ed78/1711139277/39.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}