@font-face {
font-family: '39';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@d527de2ef8845c8ca7920ce8cdfdbcd5cfa0f527/1711139277/39.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}