@font-face {
font-family: '39';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@6a1f1c6aec14aff51648dcbe88979010eb5b76ae/1711139277/39.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}