@font-face {
font-family: '40';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@630e821b1494c99a3b671f7effc7f22db0a483bb/1711139277/40.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}