@font-face {
font-family: '40';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@5666a969b2859ec20d1fe1f2f63ec22a626f9aff/1711139277/40.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}