@font-face {
font-family: '40';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@f7ee906dbcd8830df07d38b1a0018ef4d893adfe/1711139277/40.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}