@font-face {
font-family: '41';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@f416c31d47fe39ecb35cfb3c782e18d4e1623efb/1711139277/41.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}