@font-face {
font-family: '41';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@149060811e53bf0bc8226348f2565d13abab1c0e/1711139277/41.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}