@font-face {
font-family: '41';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@35b3c5bed826b7caf3c9eaeaf468c057e5ab1814/1711139277/41.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}