@font-face {
font-family: '42';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@2a424784739c1887bef6180aa7d3c8475ff5d177/1711139277/42.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}