@font-face {
font-family: '42';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@f3c2ab7b46a132402ff60ede663f48c0db201281/1711139277/42.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}