@font-face {
font-family: '42';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@4f593976eaca444f4b858736fb65dd49c0e4fab8/1711139277/42.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}