@font-face {
font-family: '43';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@20116147978369439cb78c3bab4c90f572510431/1711139277/43.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}