@font-face {
font-family: '43';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@2f4081de46ab2a08dafcbe68d329a69f83706f4e/1711139277/43.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}