@font-face {
font-family: '43';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@6d4ce8e20fa51f7040f2d291dadf4e5207c7243b/1711139277/43.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}