@font-face {
font-family: '44';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@aaafcd67bcaa89a50d4cd2d1d6b530ce987d258a/1711139277/44.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}