@font-face {
font-family: '44';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@b1ef13ad99db2865c0b2fcc7ccf1bc8a6093d5cb/1711139277/44.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}