@font-face {
font-family: '44';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@8415be00b4be129154d0dd0fb59fa8dfd8ff3af3/1711139277/44.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}