@font-face {
font-family: '45';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@b88e994bca45cda0dd1fa6b4c1359e57f8f61974/1711139277/45.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}