@font-face {
font-family: '45';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@3dcd8bcd69558fa009bcf37cdfe2a7fe0e772a10/1711139277/45.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}