@font-face {
font-family: '45';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@014b5c396a3ae4fb8543008b5acc17ef516200f5/1711139277/45.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}