@font-face {
font-family: '46';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@e838caf065896ff5b0aa17c3ddbd9c36d1d60b1c/1711139277/46.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}