@font-face {
font-family: '46';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@9eb25d2183a587d0bf88bd9cb65c31174cae35b1/1711139277/46.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}