@font-face {
font-family: '47';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@4cede14d029629162163986b865a45cefc87b58e/1711139277/47.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}