@font-face {
font-family: '47';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@451ac981539eb02b06c725ae41c2f6d0becfb349/1711139277/47.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}