@font-face {
font-family: '47';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@4ef65ece6e45becd1eb3546ba55a35645825ef41/1711139277/47.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}