@font-face {
font-family: '48';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@4117b2b1a480c920eca1c6fa0a78dbd0b8aa8757/1711139277/48.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}