@font-face {
font-family: '48';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@e649be1bf235e71fb9885d7d6bcfc7bfe544834e/1711139277/48.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}