@font-face {
font-family: '48';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@ae5eb937bb5bbd29b3f0a3f089126ed855c66af6/1711139277/48.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}