@font-face {
font-family: '49';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@0219e6881d15f2450ed8c763033880c6b4f795d3/1711139277/49.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}