@font-face {
font-family: '49';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@fe774bf21971a884d7043dab7c53d5466da4c491/1711139277/49.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}