@font-face {
font-family: '49';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@6a5d0ed7c77e7dbfe2e5dcc92f880645e9faae31/1711139277/49.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}