@font-face {
font-family: '5';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@9df621e901a7c4031faa88f2d0a81d0569cc4e9c/1711139277/5.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}