@font-face {
font-family: '5';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@e2829cf1f09e921f58f261d8e29c54d13b999f05/1711139277/5.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}