@font-face {
font-family: '50';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@367163187ac79233071f7cf27e918e28d543c7f9/1711139277/50.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}