@font-face {
font-family: '50';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@421d6c4f3d0f5eff02a019bc1806e6ca9b9460fe/1711139277/50.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}