@font-face {
font-family: '50';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@cac324b95c70d578f65bb7aef93130b289e86a4b/1711139277/50.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}