@font-face {
font-family: '51';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@222bff7bb97693dc6b93f8a1d2113f0b3cb09d73/1711139277/51.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}