@font-face {
font-family: '51';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@d2cbd0897416a2c31607e21305985ab78ccff4c8/1711139277/51.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}