@font-face {
font-family: '51';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@bf8983bafbac60219be882b7fb361eb7c8c42d0f/1711139277/51.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}