@font-face {
font-family: '52';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@48581c7749b374ee9367354084eafb1760d25d37/1711139277/52.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}