@font-face {
font-family: '52';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@905e04b95718fad755459385ff897daa812bdbf0/1711139277/52.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}