@font-face {
font-family: '52';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@c99a2ec26881fc51a6fc67424d4be7c68000d5f5/1711139277/52.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}