@font-face {
font-family: '53';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@bbb17bf3f8595214b9af46d7f6752bf79a4efca8/1711139277/53.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}