@font-face {
font-family: '53';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@28b8884ade1caaf6a076b6691e235c245e0e16ba/1711139277/53.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}