@font-face {
font-family: '53';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@2c9017106e24ef9295ec8f6915978cc5b103de94/1711139277/53.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}