@font-face {
font-family: '54';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@14ff7b917cf001c369d09b875891cf93ea05f409/1711139277/54.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}