@font-face {
font-family: '54';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@d4c80c1ede22ada16a3d3fa952f5fdecad70be41/1711139277/54.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}