@font-face {
font-family: '54';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@edde7caa0eb7f4b2ca5c09e8164ebbecaeeb6cd0/1711139277/54.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}