@font-face {
font-family: '55';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@941c38b7483e55f558e19207317a38a6f611347b/1711139277/55.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}