@font-face {
font-family: '55';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@59fbc7a1ea21cca2e5fad190c8fa03088441b378/1711139277/55.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}