@font-face {
font-family: '55';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@701d34651cbedfa843fd1d68ea6aa6b60dd0d343/1711139277/55.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}