@font-face {
font-family: '56';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@7a62b9de57a2cee2524e49743e657cbc0cc3cd96/1711139277/56.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}