@font-face {
font-family: '56';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@8af3ce3dc858188660c64664b043d1dfa214fa2b/1711139277/56.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}