@font-face {
font-family: '56';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@b17121154484f7dba3e52069208cc141b8dc0ffd/1711139277/56.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}