@font-face {
font-family: '57';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@3ec2d7f2b61905fb48c36f916a459736150e78e3/1711139277/57.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}