@font-face {
font-family: '57';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@d795f4b1f650d1f7e37b6ae84932ce679128c2a1/1711139277/57.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}