@font-face {
font-family: '57';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@2edd6bf879092c64a18ccf33988bb62d18bcf8f6/1711139277/57.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}