@font-face {
font-family: '58';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@2069eb9f12098935479e171aa91fd10326de7585/1711139277/58.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}