@font-face {
font-family: '58';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@d1101cd3a49c792c4f1d38f82c3507cd378e3df1/1711139277/58.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}