@font-face {
font-family: '58';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@1462d855c04934f87277c8d7a6c2cddcc53cb1b5/1711139277/58.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}