@font-face {
font-family: '59';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@28e957283eb2430991ace7708124c54d1a02f891/1711139277/59.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}