@font-face {
font-family: '59';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@7fb73e74b3e3015760a655bc11da35f7951b84d6/1711139277/59.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}