@font-face {
font-family: '59';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@31a810ba95789d6e8db21d93c314c6976fdb2a2e/1711139277/59.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}