@font-face {
font-family: '6';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@924f1727ee3eb6cd640e72381efc6686978e4dc0/1711139277/6.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}