@font-face {
font-family: '6';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@6a6691919e3c46bde8e13c1941c760e345114109/1711139277/6.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}