@font-face {
font-family: '6';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@b1152b3e7a34551848aea849fee8f1fde9c64e7e/1711139277/6.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}