@font-face {
font-family: '60';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@2789594059b42b6c0fa77886715180ca7a36ad6e/1711139277/60.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}