@font-face {
font-family: '60';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@b668504280311e5b08bd421c2ef72341096b2ee8/1711139277/60.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}