@font-face {
font-family: '60';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@64e30581ae98d4c11c88054c9d5d7d39a9b4cfcd/1711139277/60.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}