@font-face {
font-family: '61';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@3bb5ca8484ce0577977ee4d9dfcce2a850a8f870/1711139277/61.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}