@font-face {
font-family: '61';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@859237c78f423376da6a58aee2bfd81def0b788f/1711139277/61.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}