@font-face {
font-family: '61';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@ef28f6c73af1043d92c2c2d97db8ad7aa748710c/1711139277/61.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}