@font-face {
font-family: '62';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@3934d9624a2bbf61f668ccb5d1a2dc822d278286/1711139277/62.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}