@font-face {
font-family: '63';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@1340797605ac508e4c0736d5be1bfa4a03dffa79/1711139277/63.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}