@font-face {
font-family: '63';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@02a2a0aa9a84499eb3c91e38c4de400915a1175c/1711139277/63.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}