@font-face {
font-family: '64';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@4327e89e6ace74a117553595b097ffabf5f8893d/1711139277/64.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}