@font-face {
font-family: '64';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@cdcd5f283f29a646100c341914db04631c79b5d9/1711139277/64.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}