@font-face {
font-family: '64';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@a8390c9f14af0b53526da58c0b6d5fba62fd8f68/1711139277/64.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}