@font-face {
font-family: '65';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@e94982b7f36bb3576dba423bf2cfcfc0997e243b/1711139277/65.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}