@font-face {
font-family: '65';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@7cd4e80a1097c4172526fdabe1292a8610c3d69a/1711139277/65.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}