@font-face {
font-family: '66';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@9b03f11f1f801218bc5c10a8b3c392b256baaea9/1711139277/66.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}