@font-face {
font-family: '66';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@86461c53c43cc3ecee508d570436cd0acda0aa37/1711139277/66.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}