@font-face {
font-family: '66';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@a7060a39b152a7a6e4de3f6c4139198600b70566/1711139277/66.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}