@font-face {
font-family: '67';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@81b52547d951886d3c016a3f1dfa80e345ead628/1711139277/67.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}