@font-face {
font-family: '67';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@7a55d8ccea39c17405c0424e1260ec81ea33c730/1711139277/67.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}