@font-face {
font-family: '67';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@0a615fdca6e49bea511cf611814210e6971fc036/1711139277/67.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}