@font-face {
font-family: '68';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@632c56275e1d8f5acbc63a2bcdffb3a27cca76c7/1711139277/68.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}