@font-face {
font-family: '68';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@11ec633fba2e2623fa4b2d5dbc984e2707efa5a2/1711139277/68.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}