@font-face {
font-family: '68';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@704af5481bdb3649596326e9fb22f265d37a8912/1711139277/68.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}