@font-face {
font-family: '69';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@c0c01f39ffbd64a0bdf13b94a3030040c3124ab5/1711139277/69.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}