@font-face {
font-family: '69';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@fa4408d765c4c1f3f7a8d305863105015f5c733e/1711139277/69.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}