@font-face {
font-family: '69';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@e729250c140bb7dad6e079a6481d12f882f48199/1711139277/69.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}