@font-face {
font-family: '7';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@ad1d0c04598fd265e8dac1f6baf984c8463f52e5/1711139277/7.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}