@font-face {
font-family: '7';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@0a0888f4f206a50194c6834a95cb5f44d2091198/1711139277/7.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}