@font-face {
font-family: '7';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@fd0cd50aaeab0e40f8f1a2d4b4442c3d3115f78c/1711139277/7.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}