@font-face {
font-family: '70';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@fcb5d1d02a76f0c42c54269221a31ba73e3766c5/1711139277/70.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}