@font-face {
font-family: '70';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@b043ffaa9b1aa146c68649622170b749541f708b/1711139277/70.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}