@font-face {
font-family: '70';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@6ae078118645a62e6a145d04d533a4a0ec8633ad/1711139277/70.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}