@font-face {
font-family: '71';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@351aa800691fc7841d81c9730201afa17f3131f6/1711139277/71.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}