@font-face {
font-family: '71';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@05247c98d1b6dd20be3818619a644b1cb260b125/1711139277/71.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}