@font-face {
font-family: '71';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@427c00852a646e644c80454778ac04a70b95c07f/1711139277/71.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}