@font-face {
font-family: '72';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@709dd369cba219b51d2ef8a32efee5f960a405b1/1711139277/72.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}