@font-face {
font-family: '72';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@a6cb2bfba5f4bfbb66ae5ad03724e0622b5f34ca/1711139277/72.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}