@font-face {
font-family: '72';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@9c2032095cb120ffcf383f7da28bfbe536f54417/1711139277/72.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}