@font-face {
font-family: '73';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@b69ffd9e3e665356f55fa39fca0ec586197ff198/1711139277/73.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}