@font-face {
font-family: '73';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@a1004ff28c30cf906022ce274177b58359ae543c/1711139277/73.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}