@font-face {
font-family: '73';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@6de68efd9012887f7101b711627e217eb205eaad/1711139277/73.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}