@font-face {
font-family: '74';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@ec69586713351c9c7bd6e1cde76f2420ec371552/1711139277/74.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}