@font-face {
font-family: '74';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@e26bd1afee668665660fa81a7919c2b5bcfa420e/1711139277/74.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}