@font-face {
font-family: '74';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@59b9f013b4b0e258915614d0db8b18f6333fd3a0/1711139277/74.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}