@font-face {
font-family: '75';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@8317c18e5c1b50be26ed16f13fa9f858abd1523d/1711139277/75.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}