@font-face {
font-family: '75';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@52ec6012144bc8124d8924935abbb2d32ef5fbda/1711139277/75.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}