@font-face {
font-family: '76';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@ca39e034f38120841b7527d828a30ccebd51f372/1711139277/76.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}