@font-face {
font-family: '76';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@77ea1cae54492b513a08fc82084524ee61cbcf9a/1711139277/76.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}