@font-face {
font-family: '76';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@8818fe7608595375a794a9d8400e3efb4cbd85d4/1711139277/76.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}