@font-face {
font-family: '77';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@8d23857a7f3780037889eb1775ccc7085c9a63a5/1711139277/77.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}