@font-face {
font-family: '77';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@d3f3ca7920fef38306255b3a68b98c40d7ec2f33/1711139277/77.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}