@font-face {
font-family: '77';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@13a597468b610f6b049bd8e0867a4263f1318cfa/1711139277/77.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}