@font-face {
font-family: '78';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@2cdc7a058d598be71861137e5fdfc583134ad04f/1711139277/78.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}