@font-face {
font-family: '78';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@19d7b9fb451f84370e555469b5b3129602ebbbe0/1711139277/78.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}