@font-face {
font-family: '78';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@583302f5ab2d52b9d8c05f2a5839ff81529792a4/1711139277/78.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}