@font-face {
font-family: '79';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@b979b03615844c416d118e89c78d4fa5ae0ef369/1711139277/79.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}