@font-face {
font-family: '79';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@aa690ce1d6da84fa9b969be707573a17acb56953/1711139277/79.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}