@font-face {
font-family: '79';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@bee7c1a7f7b35eed07cec305a64985c8b361792e/1711139277/79.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}