@font-face {
font-family: '8';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@ed7877588a63db1a9c207779efb4d2c2dd6c7b95/1711139277/8.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}