@font-face {
font-family: '8';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@15cd59f55d1bf9128534b57d0ede07127d5effb9/1711139277/8.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}