@font-face {
font-family: '8';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@591e2f3db8bd6b70213ffd2325bc884475238ad6/1711139277/8.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}