@font-face {
font-family: '80';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@4d0c62e437751c77049a416f37bc1eff6553e179/1711139277/80.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}