@font-face {
font-family: '80';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@867ab2f6cc8def067a58e6ffe29d9d92b2ada763/1711139277/80.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}