@font-face {
font-family: '80';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@0b908e4814419e6c83f84c1a47d6b83e075c2986/1711139277/80.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}