@font-face {
font-family: '81';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@a9e06d70b965fcbc8c59b1bfc3015e6b17197b35/1711139277/81.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}