@font-face {
font-family: '81';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@0795980115a7039feb39670e51cbbd53041a474c/1711139277/81.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}