@font-face {
font-family: '81';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@50dc3b7a2c1c5de23de33f5bcc1d51e722bf95d7/1711139277/81.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}