@font-face {
font-family: '82';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@63505dc619489a2ad8a5cc42571f45965763428c/1711139277/82.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}