@font-face {
font-family: '82';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@edf1a4101af47f813b649e1dbdb37243e4b997c2/1711139277/82.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}