@font-face {
font-family: '82';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@eeab731aafa4efbb715dc718b0c003aa65ca7c57/1711139277/82.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}