@font-face {
font-family: '83';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@329d0aae9fbd96473d540b18744d9656a37c6c76/1711139277/83.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}