@font-face {
font-family: '83';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@affd33c955c07484a6701eaab283a2543e4c0cf1/1711139277/83.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}