@font-face {
font-family: '83';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@2b377896d75321f4077367c2d231732bfc5841c2/1711139277/83.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}