@font-face {
font-family: '84';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@c42c830b8a74e7e37dc4e3f1cd20ef76c6b820d7/1711139277/84.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}