@font-face {
font-family: '84';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@a209a18a48474174f02c23c1fdd3c34bbc272658/1711139277/84.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}