@font-face {
font-family: '84';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@411d12f38f1bace65525c7d355078ac7c0b3cd9f/1711139277/84.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}