@font-face {
font-family: '85';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@acb2fbfee0567361dbd87390618cbfc8e809dd7e/1711139277/85.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}