@font-face {
font-family: '85';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@1f2d7ad81aa1ea427b0f42b91fbcb289c399db07/1711139277/85.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}