@font-face {
font-family: '85';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@e3b7b2c148d783ac1189db1dcecf662892be0a46/1711139277/85.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}