@font-face {
font-family: '86';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@c068ae1eea65dade35c1428db4f90cf1ac806609/1711139277/86.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}