@font-face {
font-family: '86';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@621f7a61097c36e51ba3a75bd933a91e22f3d2ef/1711139277/86.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}