@font-face {
font-family: '86';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@9d7b98cf7f8441afbc626a461f88fd252f73528d/1711139277/86.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}