@font-face {
font-family: '87';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@eb236ef3e78389bde99745e563327aa498aa47d3/1711139277/87.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}