@font-face {
font-family: '87';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@5e0684b33ea82f58f8cdd313e345ea399609bf8f/1711139277/87.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}