@font-face {
font-family: '87';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@b7b37c7841a268bd11eaddc76ff02955652967b1/1711139277/87.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}