@font-face {
font-family: '88';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@e33ec557261d820bfa799d9b151b9c4b2c0d15b2/1711139277/88.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}