@font-face {
font-family: '88';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@6e5687eafdf268aa23180bf7a4a5928ba94cf267/1711139277/88.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}