@font-face {
font-family: '88';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@d6d649ac5197e86114108f882db190da3d5c4f8c/1711139277/88.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}