@font-face {
font-family: '89';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@e8c7a746af0e0d9321de5ccb73572648567601b8/1711139277/89.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}