@font-face {
font-family: '89';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@e71f5a18d6bd8d68dc83928cf1387ebcdd4f8963/1711139277/89.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}