@font-face {
font-family: '89';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@f6ee3094e7161646afc4cf9560d6d88ca6861591/1711139277/89.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}