@font-face {
font-family: '9';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@8c79a16615718b5d39d5044d285edef242ef0568/1711139277/9.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}