@font-face {
font-family: '9';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@829c33054af0bcd8574faa30f45e09bfa4885363/1711139277/9.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}