@font-face {
font-family: '9';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@af5cb671565b72fe8676011f331034424954a300/1711139277/9.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}