@font-face {
font-family: '90';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@5be20b3fb9ff00d9867c05a29b786b1bfc72ec3d/1711139277/90.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}