@font-face {
font-family: '90';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@2322d758ae953c5b16908a26ca150ffa25d0dd8d/1711139277/90.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}