@font-face {
font-family: '90';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@3698f32c9412c5212a8538a088816e687f27d000/1711139277/90.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}