@font-face {
font-family: '91';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@30540818bfc5fbba62145c83a758aa7383f0ea64/1711139277/91.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}