@font-face {
font-family: '91';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@eb57bc4f2d85aa161211b0f8b3ce4bba6ac05270/1711139277/91.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}