@font-face {
font-family: '91';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@3e9bb65cff29de20f279826a0e229d0d7cdd192a/1711139277/91.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}