@font-face {
font-family: '92';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@dfc8243f6d0dc1072de185a6ab342ed0460ae8f0/1711139277/92.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}