@font-face {
font-family: '92';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@1e6fba3a8ed597edc2e0ed17c71d1bb419015382/1711139277/92.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}