@font-face {
font-family: '92';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@daea962431ba345be347a3a25dd026e4c81255ec/1711139277/92.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}