@font-face {
font-family: '93';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@8af45b313623e45567a092f3d0c034121e637087/1711139277/93.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}