@font-face {
font-family: '93';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@20707166ccfa7e27b1f40f08d4fce36c4d16bacb/1711139277/93.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}