@font-face {
font-family: '93';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@adb45f6f470c78b2d7f13506fc67a0f6c55d9faa/1711139277/93.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}