@font-face {
font-family: '94';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@ae6271476defedd9199cdad6227699f90cfde9c6/1711139277/94.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}