@font-face {
font-family: '94';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@3752176be6831bec45a970007d77d81a086bcb66/1711139277/94.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}