@font-face {
font-family: '94';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@716c0781c3f7014cd795a99d0d602f384f2df730/1711139277/94.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}