@font-face {
font-family: '95';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@6be963b456a807c061da769ab4058595844bfe03/1711139277/95.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}