@font-face {
font-family: '95';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@e4150e02b4692b7a8e00e34f69808f14d7f0b400/1711139277/95.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}