@font-face {
font-family: '95';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@05c8b5561676f1768913ab280cacb48dfccf11a2/1711139277/95.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}