@font-face {
font-family: '96';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@59d779520dba4f32927a4e618428066af78364ed/1711139277/96.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}