@font-face {
font-family: '96';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@20f00627c554f81e415b3ecc4a4b999ce7645578/1711139277/96.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}