@font-face {
font-family: '96';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@fa2dc2c276306b8a58b1af201278bedc97772f9d/1711139277/96.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}