@font-face {
font-family: '97';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@10f149482d7ed8007463d9c31efb96f672571dc7/1711139277/97.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}