@font-face {
font-family: '97';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@0f7a79fe1686717fcd8145c1c8a3dd1608d76493/1711139277/97.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}