@font-face {
font-family: '97';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@4a4478c6191b19a057635d7c5ea8faceafd10ce1/1711139277/97.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}