@font-face {
font-family: '98';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@b82302c29108e6bc3022c7361dcc4cf9d005fa08/1711139277/98.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}