@font-face {
font-family: '98';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@638aeffd00cc2fb33c822634adea699ecf01effd/1711139277/98.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}