@font-face {
font-family: '98';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@d502d5a8d74f86313b276b868e1677dd26127cfa/1711139277/98.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}