@font-face {
font-family: '99';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@c6cf0f82e91f81a06ce93fe5c5584340cb0ec9f5/1711139277/99.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}