@font-face {
font-family: '99';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@979a6eacbcb03fd80e1dc5d4e33327c4d0443dbb/1711139277/99.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}