@font-face {
font-family: '99';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@e6867c11c782b6eb18c571e8d05f54beca9a929b/1711139277/99.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}