@font-face {
font-family: '1';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@95e264744498033587fe8be667aae48785cad6d3/1743404259/1.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}