@font-face {
font-family: '1';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@619147c49d33767e500cb9955c8d2f727ef5ff3b/1743404259/1.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}