@font-face {
font-family: '1';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@9eb244ae4e0bc9bff2f38366e8ea8d5ae57045a8/1743404259/1.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}