@font-face {
font-family: '10';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@1f17bd92a027791ad8821b7cb6a5c0423d04186e/1743404259/10.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}