@font-face {
font-family: '10';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@40dfa81d0b65774bf164de84647bbb0342270367/1743404259/10.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}