@font-face {
font-family: '10';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@e2ca13b5ba3ad8cdaa1232a57dbe7f4379eaf81c/1743404259/10.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}