@font-face {
font-family: '11';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@6b26214a0bdfebc1a84990e85e04e196c0fe9d85/1743404259/11.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}