@font-face {
font-family: '11';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@831c7edbb40ed802ad4fac066ac89429f6d38684/1743404259/11.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}