@font-face {
font-family: '13';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@2995e81226b0b0eb5e1e751a3d4ed3bd418f9755/1743404259/13.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}