@font-face {
font-family: '14';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@efaaea34fcf21318e7d76b8ee9f04bffe3a8b118/1743404259/14.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}