@font-face {
font-family: '16';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@3ab1fe40d693d5d95ac9487b5d1936294656ea03/1743404259/16.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}