@font-face {
font-family: '19';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@9168a9cdccb109c5d02311e6f5293290230bb7b8/1743404259/19.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}