@font-face {
font-family: '19';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@9fe523298fe2609deae26a518a3d3ea0e0cab657/1743404259/19.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}