@font-face {
font-family: '19';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@279280f4623b7f90d56a589d26bd25c57e01fd60/1743404259/19.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}