@font-face {
font-family: '19';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@85f46195e48f36e13d9bf73f6278d608dc3f454f/1743404259/19.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}