@font-face {
font-family: '20';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@0f346f5fdd802b13333baf33d56427b89d450587/1743404259/20.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}