@font-face {
font-family: '21';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@cde09838a8e2a68bc3ee6fea85f1c89894a32cfb/1743404259/21.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}