@font-face {
font-family: '23';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@f88f9f725e1e5ea8bda22b27f9d29f7a1717f2d8/1743404259/23.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}