@font-face {
font-family: '24';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@c878eab8cf6a7777e702b8297f1c7f2ccd549a29/1743404259/24.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}