@font-face {
font-family: '26';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@90db1f96c7019c0d8b20b5eb3514032be862720c/1743404259/26.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}