@font-face {
font-family: '27';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@2bf14286bbe241c73693f1354d475dfcf0f200a0/1743404259/27.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}