@font-face {
font-family: '3';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@9cea0547767d17d82aba0b6e793fe28bfc5c1453/1743404259/3.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}