@font-face {
font-family: '5';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@c8330710280da4d0e8351709d47741c082d83f0a/1743404259/5.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}