@font-face {
font-family: '6';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@5d6e4e2c86801e1c7aea67cf2a12a0567e02d41a/1743404259/6.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}