@font-face {
font-family: '6';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@a83706eed129630cc2131380bc81aaf925f7a048/1743404259/6.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}