@font-face {
font-family: '6';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@4710292a96c12b9047ad161302b3f655919b56b4/1743404259/6.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}