@font-face {
font-family: '7';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@8cbbc1623e9a20078503b9148ff0c4b08b201521/1743404259/7.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}