@font-face {
font-family: '7';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@d1835b2df1fa2226b596c1090a7d28c7a3ec9931/1743404259/7.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}