@font-face {
font-family: '8';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@305a5bff5f110851cbdbead8e9f8c2989d4686c6/1743404259/8.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}