@font-face {
font-family: '9';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@56f8f22dffa54e986198e3d0cc6193522657df78/1743404259/9.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}