@font-face {
font-family: '9';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@7f2e96f10cd0c7978f120ac348256ec27545ce95/1743404259/9.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}