@font-face {
font-family: '1';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@21f4e53d2f1effaaa39be5d31aa550e3b7c8625b/1740642812/1.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}