@font-face {
font-family: '10';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@00113a76aaa54a2d2ed5b867e544f6624d898791/1740642812/10.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}