@font-face {
font-family: '11';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@06c86f18622c5f79d8dfbe660b3a77a1d9202f21/1740642812/11.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}