@font-face {
font-family: '12';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@135b10579d8dd5464f3fb967f848da39d428243d/1740642812/12.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}