@font-face {
font-family: '12';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@706387f98262908904d75de9920e0b5789f96e0c/1740642812/12.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}