@font-face {
font-family: '141';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@acaa0a2f23527037396a311300ecb52518103c21/1740642812/141.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}