@font-face {
font-family: '141';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@91188e948054d2a686b7c9034ced31bdd7b8dffa/1740642812/141.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}