@font-face {
font-family: '2';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@041494640c0f7dc80449e3a5922cc2d4c8a8d42b/1740642812/2.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}