@font-face {
font-family: '20';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@a5b6188141b9f88120f23d47d482148e79181203/1740642812/20.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}