@font-face {
font-family: '24';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@b84c00acefa9bd35af95256161318940770f5f76/1740642812/24.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}