@font-face {
font-family: '3';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@635a025108f6f7bcd9b79e2084ae1d9a73e94f98/1740642812/3.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}