@font-face {
font-family: '3';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@cd3e035c8b7cded4e6e7f9aa387ba698966af9bf/1740642812/3.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}