@font-face {
font-family: '4';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@71d0044de6539d7489b1f0f1f5639ed3dc29395a/1740642812/4.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}