@font-face {
font-family: '5';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@69f5395bc87219a18c9baeab93e23ee237d4cf38/1740642812/5.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}