@font-face {
font-family: '5';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@92ed85fd812ee90413b972cc0eb6f3d19d68671c/1740642812/5.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}