@font-face {
font-family: '5';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@99953f4a0e1d1439b6e0a5b6f207a8283670ecef/1740642812/5.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}