@font-face {
font-family: '7';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@297e29af306e8bc96bb73ffd7860f96f6bf7c119/1740642812/7.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}