@font-face {
font-family: '8';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@bbc17cdd49676ed1d0aa0316fb7a6f2b4dd028e7/1740642812/8.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}