@font-face {
font-family: '9';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@0490ea8995ab45f2adb2b8537ad0fd0fd6552b58/1740642812/9.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}