@font-face {
font-family: '9';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@faea512659c10c12ac4bc58a473f4549d5e17d1a/1740642812/9.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}