@font-face {
font-family: '1';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@cc15e31bd9dd272903c3c546fc703e987f7524e0/1737361392/1.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}