@font-face {
font-family: '1';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@4f3ff5c2a798d05506a4fa1074564d5c6dcea868/1737361392/1.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}