@font-face {
font-family: '100';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@0e91faa1e23f20a0c5423cccfc537a010fdef127/1737361392/100.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}