@font-face {
font-family: '101';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@8fd8ac1e3794c2bc14ee4e76d7d8d5eea722001a/1737361392/101.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}