@font-face {
font-family: '103';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@8f1b5de59213a1fbab934c83db277b5df0fb5c89/1737361392/103.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}