@font-face {
font-family: '103';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@a9d46a3cb0763c664360023db2ca18fc9ac9c5a0/1737361392/103.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}