@font-face {
font-family: '106';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@f533ba95f9d708a48fd153a5dc721775c3c4a4a8/1737361392/106.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}