@font-face {
font-family: '107';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@d96e90180bae843771df098f87b655dceb3e5a52/1737361392/107.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}