@font-face {
font-family: '109';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@873044a20bacf761878f03aa09a1c2d11c0adf2c/1737361392/109.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}