@font-face {
font-family: '11';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@1e7a4617802185aa1a02e99159613478c671f36d/1737361392/11.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}