@font-face {
font-family: '110';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@89103586e36bdf01912eb1457b3dbb24def7a950/1737361392/110.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}