@font-face {
font-family: '111';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@8161f1d06a7b607776f0cc60a176191d77942393/1737361392/111.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}