@font-face {
font-family: '112';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@c6e9af6a9d639513f8ebaab56ee1ee2785555420/1737361392/112.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}