@font-face {
font-family: '114';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@46b5436dd8078faa97daa2610188dac0d2bad9e2/1737361392/114.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}