@font-face {
font-family: '114';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@f18555de4dc2b0de39935ad0032c202dd19da820/1737361392/114.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}