@font-face {
font-family: '114';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@090c01627b54c4ce5cd7ef76b1fdd1284252f898/1737361392/114.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}