@font-face {
font-family: '116';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@eb9bc18f4485080db0d5fe390ee0eca59efa21a2/1737361392/116.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}