@font-face {
font-family: '118';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@e5097e680bb89ec58e6a812a101d1085e719607c/1737361392/118.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}