@font-face {
font-family: '119';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@88455d6e8e61671485ecf7414ba5de63efd3ee7f/1737361392/119.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}