@font-face {
font-family: '121';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@32b777c0b1235dab3a8a8ea8dfcac1ccc6bff8b3/1737361392/121.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}