@font-face {
font-family: '124';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@c62c39e026af7e6a05552d0ae466146fdd65f56f/1737361392/124.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}