@font-face {
font-family: '125';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@e1c20e9b310bd5aec74ccebd30aab6731ba6540d/1737361392/125.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}