@font-face {
font-family: '126';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@081e8e769eb8f9adcfd34a8ebe0a639d306c954b/1737361392/126.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}