@font-face {
font-family: '128';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@dab0ae4ad606929715509c9cca695ee9b4d6f825/1737361392/128.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}