@font-face {
font-family: '130';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@9608cc4105075c19a220c6659a46148f92d790c0/1737361392/130.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}