@font-face {
font-family: '133';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@e093a58b4a1c1c4e9e15b441baf0d839c6f6efbf/1737361392/133.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}