@font-face {
font-family: '135';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@6ffc63f549895070fe57a69ae7a2ad0ad94afeef/1737361392/135.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}