@font-face {
font-family: '136';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@8275fb89734dbf8dea4e01c4d58f924f0b260943/1737361392/136.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}