@font-face {
font-family: '138';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@38308a1ba1f1bc20594310d930ec74fbab8d7b00/1737361392/138.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}