@font-face {
font-family: '139';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@aec862bb67a34b2a60b53daa94ce76d8e2bf6607/1737361392/139.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}