@font-face {
font-family: '140';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@dcd9b1ef3ee8f93834647f528525dd3c73b10a59/1737361392/140.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}