@font-face {
font-family: '141';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@e545204b34d72a9736a8dc9c247399e30aef6df4/1737361392/141.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}