@font-face {
font-family: '143';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@c822caa3b3e42c1fe90d31eed37b85c25bb50f0e/1737361392/143.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}