@font-face {
font-family: '143';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@7c556e004f764cfd446243dd00d7b0b97666aaae/1737361392/143.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}