@font-face {
font-family: '146';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@cba0cd463c30ce304401a9bcd3223ff5159eae67/1737361392/146.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}