@font-face {
font-family: '147';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@f5b57950fac6855b663b918d43ababe8c9608845/1737361392/147.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}