@font-face {
font-family: '149';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@708ec4e100019614a41a86bf99e380b2ee6677ec/1737361392/149.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}