@font-face {
font-family: '151';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@1ad669a70928dd2c9ea453b46e95cad93090852b/1737361392/151.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}