@font-face {
font-family: '154';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@d716f88adca1b6144e278cc3186117bb0282d144/1737361392/154.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}