@font-face {
font-family: '155';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@dfd49a3770916d34cdc73df636937d5c8c07fe93/1737361392/155.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}