@font-face {
font-family: '157';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@5951c063092830be018ed468c5733eaf7923a7e4/1737361392/157.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}