@font-face {
font-family: '159';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@6cd92c372b17f02e9060ecab1d13beb31a258109/1737361392/159.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}