@font-face {
font-family: '16';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@736479083ebb77470b505e193b4a3d1366068960/1737361392/16.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}