@font-face {
font-family: '161';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@f6f21bafc0fcf8bc6597c4ab7f36202f6febf849/1737361392/161.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}