@font-face {
font-family: '164';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@f2b738526d0d68e149a9569f9e07d568cce7d460/1737361392/164.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}