@font-face {
font-family: '165';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@cdb87d2a51927e68e446a8a28482db5d319e004e/1737361392/165.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}