@font-face {
font-family: '167';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@dbc0e5b2c7ec69180fb36dd20c8a6eb629eb5c36/1737361392/167.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}