@font-face {
font-family: '169';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@21df3448c8cf4e20d379bab05167c61d3578cccc/1737361392/169.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}