@font-face {
font-family: '171';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@0bb03ea7d4e1f6c0f035348537047f0c41302bee/1737361392/171.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}