@font-face {
font-family: '174';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@7ba1b1adc2c7d0b2a8941b2c4f7206357592d8e1/1737361392/174.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}