@font-face {
font-family: '177';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@e33a1137bcdc95e4257967825e016010b620ca06/1737361392/177.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}