@font-face {
font-family: '179';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@26904db7ed970414c51d835aae3353e270078453/1737361392/179.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}