@font-face {
font-family: '180';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@25f27b28d90bcfacd5970f605ae11fba3d1b266c/1737361392/180.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}