@font-face {
font-family: '182';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@a15d343f19aee1320bbff236f19c5fde732f4e1f/1737361392/182.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}