@font-face {
font-family: '183';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@7dd6a86ea43b4ab9a29020f73bff57aa7990cc2b/1737361392/183.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}