@font-face {
font-family: '185';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@e95857bf38becb31356ef5172ac27fe9cd891253/1737361392/185.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}