@font-face {
font-family: '188';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@a8ccc4be37046dec15151638841cb96986954491/1737361392/188.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}