@font-face {
font-family: '19';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@6b6440f5c528d67a2f369649a0ec6d3a7b1bde01/1737361392/19.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}