@font-face {
font-family: '190';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@61900ed5448f712dffdf64338edc00d753456299/1737361392/190.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}