@font-face {
font-family: '191';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@74104dc370e9802a4f06aa153691d04ab839e7df/1737361392/191.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}