@font-face {
font-family: '194';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@28971ff83212187d4c78472fcd5c9780df3718df/1737361392/194.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}