@font-face {
font-family: '196';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@9225feb90852c0470ca55240dda1af470b028b0a/1737361392/196.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}