@font-face {
font-family: '199';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@cb9f7b59deb9fce3f14c31cd4d13b891f690137b/1737361392/199.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}