@font-face {
font-family: '200';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@196e2c9c73dd1e4de29d0822be37aefbc72f10df/1737361392/200.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}