@font-face {
font-family: '201';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@085dd9ea1aaf907d07d757d91534ed1d5e1b07e0/1737361392/201.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}