@font-face {
font-family: '204';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@2204ee65db12307303c17b716a7753ee1a5ed32f/1737361392/204.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}