@font-face {
font-family: '206';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@7b0f3b032e603e9b32df33af44f13e9d02efefe4/1737361392/206.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}