@font-face {
font-family: '208';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@23938471f52bf657079bff26c0d2b12297542162/1737361392/208.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}