@font-face {
font-family: '21';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@bf89ee54a87efcb96784500e8bad44a6b6a18a0f/1737361392/21.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}