@font-face {
font-family: '211';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@c65a3d51353dd75f3f01fcf7d2276ef97662866e/1737361392/211.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}