@font-face {
font-family: '214';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@7a4028f41a51fabf4960f4f7ca598d184bf6f366/1737361392/214.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}