@font-face {
font-family: '215';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@cfb106f859ddf67ab91df38f6c8d4573a2862c04/1737361392/215.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}