@font-face {
font-family: '218';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@0176b00f68005eb58306e17981bf72ee536e3043/1737361392/218.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}