@font-face {
font-family: '220';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@f66f44753e2fedd33fb3398bba0d04191f7ef578/1737361392/220.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}