@font-face {
font-family: '222';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@49acf6ae8538b94d375e424e66cced4951b1949a/1737361392/222.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}