@font-face {
font-family: '223';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@158e32e86b0f39aacecdab5d8377d64a34948644/1737361392/223.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}