@font-face {
font-family: '226';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@dc60d852bff4dd01d748f99e88095470c2b705e1/1737361392/226.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}