@font-face {
font-family: '227';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@1314719e19435e4baaba2ace87f689007de2d06e/1737361392/227.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}