@font-face {
font-family: '230';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@caae80c680500e62fc5171bc3264eaac6004bf20/1737361392/230.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}