@font-face {
font-family: '232';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@60bad0e3467c675e616b3bb15cf697eb3a3a73c9/1737361392/232.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}