@font-face {
font-family: '232';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@d16207775bfee932dcaa0e21f1cad7bbaee994cf/1737361392/232.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}