@font-face {
font-family: '233';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@764d77ff6ccb31fbfde4587798d7defb5a222c52/1737361392/233.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}