@font-face {
font-family: '235';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@0526be9c1a95e6dd09d1fa773253bbfdbbc3ae75/1737361392/235.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}