@font-face {
font-family: '236';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@fb5ace537835cb5b25baa7d0292fbc4c86f3d092/1737361392/236.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}