@font-face {
font-family: '238';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@0bcebb070aca0a40654ea824509d19517a81a79f/1737361392/238.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}