@font-face {
font-family: '239';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@8a9ca75e1f9aa492b83581070b4e44c530aec603/1737361392/239.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}