@font-face {
font-family: '241';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@215a0b6e4c019c52340591d2d6b2311793ed9444/1737361392/241.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}