@font-face {
font-family: '243';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@f616108dd08179349a0f04ae1e13981031748106/1737361392/243.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}