@font-face {
font-family: '245';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@884505ed82fda4fba525ab03e7b767a54f80e32f/1737361392/245.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}