@font-face {
font-family: '246';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@cff7f8a4d5b0b5296ce39cf6f22663277957552c/1737361392/246.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}