@font-face {
font-family: '247';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@c02b820e94f1bd05c937e1be59b511f2f0e0562f/1737361392/247.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}