@font-face {
font-family: '27';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@a9e81489a29e61e3dea10ccc86aefcc7ad34d7d5/1737361392/27.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}