@font-face {
font-family: '29';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@acf50634ed90cab02a92a17a07004a1dfb4085ea/1737361392/29.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}