@font-face {
font-family: '3';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@cae8619bcf088f6729483ca8d331facb5308320c/1737361392/3.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}