@font-face {
font-family: '31';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@f54a637a8d68ec6ab2d336ca6c09fce1e686a6b5/1737361392/31.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}