@font-face {
font-family: '34';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@826b4a57c18bc3145ea48a4afe28a136eb242431/1737361392/34.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}