@font-face {
font-family: '34';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@bf7fd85548be9ececcf224c3fe84075699fae9ad/1737361392/34.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}