@font-face {
font-family: '35';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@efd365e89005420ec155b8a17ef31bd02be0436e/1737361392/35.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}