@font-face {
font-family: '39';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@6b0d5c62acdc56a6564c679b84f713cbb9d32fba/1737361392/39.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}