@font-face {
font-family: '40';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@ebf5f09c08b0d3ac67702e09539e72b43bc7c21c/1737361392/40.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}