@font-face {
font-family: '41';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@b17220bc5ac050c06a41c65d66d11b259232d968/1737361392/41.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}