@font-face {
font-family: '45';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@8876f5282511e50714d22a6c9db94054ce1e476e/1737361392/45.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}