@font-face {
font-family: '46';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@cd83934ca755e1ab0809749f7c676fc0c6843b2d/1737361392/46.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}