@font-face {
font-family: '46';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@634331d6d6a946f8cc1a970c0f8696058ba2d4d3/1737361392/46.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}