@font-face {
font-family: '47';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@05c3307e55b03035db8f0e413ff2f1260828bf3b/1737361392/47.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}