@font-face {
font-family: '48';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@9b2a5dbe7c5cb49a131d4dd7a6f6d03df2c7f52d/1737361392/48.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}