@font-face {
font-family: '5';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@e17d05fbe54a661e78b0724b19e7f1e7ebe8203b/1737361392/5.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}