@font-face {
font-family: '50';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@638a721cb47496d636f443294a71a9dfe56519ea/1737361392/50.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}