@font-face {
font-family: '51';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@8e535695a5892d58b0e43f1010417453d8edc07d/1737361392/51.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}