@font-face {
font-family: '51';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@6b5d45d81abf481b9387c12f97c468e088f88bc5/1737361392/51.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}