@font-face {
font-family: '52';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@6fc78df95219b41260ec7b1e102ea83c61aa1f9d/1737361392/52.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}