@font-face {
font-family: '53';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@b7884903ac5a1ec86cd26d764c993265c7ac97c6/1737361392/53.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}