@font-face {
font-family: '54';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@8db797ff319519bddd54611da30135a8d5639071/1737361392/54.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}