@font-face {
font-family: '55';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@6077e41dcab97f9b23ec442c07731edea1c7731f/1737361392/55.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}