@font-face {
font-family: '56';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@46e9d38b69478582183fa1274fc0a635091a4ded/1737361392/56.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}