@font-face {
font-family: '57';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@c7ce81257b7f5b93341981c4f0be57e5c6e4fb0c/1737361392/57.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}