@font-face {
font-family: '58';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@a547bff4be0404908df4bce29be0ecd0ff9583c0/1737361392/58.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}