@font-face {
font-family: '59';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@2b293dc462a1742931e98dea7cb3b87a7f31a94c/1737361392/59.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}