@font-face {
font-family: '59';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@33aefe3d190f3547fed39d6a69966ca9355c30fb/1737361392/59.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}