@font-face {
font-family: '59';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@c96b0406729268212a39cc415897a9ddc65d4bd9/1737361392/59.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}