@font-face {
font-family: '62';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@1ed984d3258e10b21f0fff30e0bc43b1c1054642/1737361392/62.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}