@font-face {
font-family: '63';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@3da0f85fa7e7ad400ff1310ab23774f6822f33ac/1737361392/63.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}