@font-face {
font-family: '63';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@6c63027c45872dcaf0dcfb83ec575a7cfd662847/1737361392/63.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}