@font-face {
font-family: '63';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@78ad8de3804301c80c764b73087ce1f5a8b72c95/1737361392/63.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}