@font-face {
font-family: '64';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@50d87dc297e95de13aa6b2cf56d836bd5ebc90b7/1737361392/64.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}