@font-face {
font-family: '64';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@41c386e331582ebadee21a9f7eb1fcfac83c565f/1737361392/64.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}