@font-face {
font-family: '65';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@a8e57473af86ada40dedbe7de13e3717b74a99cf/1737361392/65.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}