@font-face {
font-family: '66';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@e923ebdccb4e41f26be7f93550583010de243e41/1737361392/66.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}