@font-face {
font-family: '67';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@8aaa718ce8e6a399674d350c211e9b9038d85483/1737361392/67.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}