@font-face {
font-family: '68';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@651322d6e72749e6712939c75755a3d9686705dd/1737361392/68.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}