@font-face {
font-family: '70';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@a115f8c35b32d468dd7b40449aa1b46b6fcf0af5/1737361392/70.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}