@font-face {
font-family: '71';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@469c239740bd016332b4cc733b9337b29ee5bb53/1737361392/71.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}