@font-face {
font-family: '73';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@f011a29f02e66b00ec8bb05913d51b40cd742874/1737361392/73.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}