@font-face {
font-family: '8';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@451ec2f24eefa0f8802a77dfa3bee0d3b247809b/1737361392/8.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}