@font-face {
font-family: '81';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@45859f7edecc4a000ec0efe64d4072ad92dd776a/1737361392/81.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}