@font-face {
font-family: '83';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@6956f16a5a5653884be1f94ba4ad2f5f79918646/1737361392/83.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}