@font-face {
font-family: '86';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@fc865d7e50dd776df32d0e12f8af6154b1c74267/1737361392/86.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}