@font-face {
font-family: '88';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@d848ebd8b52cb28c2481629033a72a5e62756c80/1737361392/88.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}