@font-face {
font-family: '9';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@088aa4d38f0e5620e68a6d35db95eed8e3012204/1737361392/9.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}