@font-face {
font-family: '90';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@20633ec4c0bf003d8cb68e801a75de072ac9192b/1737361392/90.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}