@font-face {
font-family: '92';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@0396165d16365bb7d85220d9eb6bac3f827dc629/1737361392/92.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}