@font-face {
font-family: '93';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@e0f6aca6a6190542db8c987c8f963eccd2ff931c/1737361392/93.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}