@font-face {
font-family: '94';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@af9293519157863ebcb595090e865a9390f11224/1737361392/94.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}