@font-face {
font-family: '95';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@dfdafe1504b075c8906843068f0b1764c643ba7d/1737361392/95.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}