@font-face {
font-family: '98';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@a474d4b410f631ab08ec33c6315734193fe5329d/1737361392/98.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}