@font-face {
font-family: '1';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@9fe9fac4e2fc6a325eb80cd1546d066709db2146/1737469479/1.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}