@font-face {
font-family: '1';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@13468c4abb40b076c9c007c2a48c4ea2634fb1b4/1737469479/1.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}