@font-face {
font-family: '1';
src: url('https://cdn.jsdmirror.com/gh/Amatrue/Auto_NL@c8f77a5e7c4b3111b7430c773287f46a1e4ec350/1737469479/1.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}