@font-face {
font-family: '1';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@d0f71488a03f1d686ab0af7cc5308dc3e22b9814/1737469479/1.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}