@font-face {
font-family: '1';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@43fc2dff985350cbd6ce6a45f7e1d0b540d9335a/1737469479/1.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}