@font-face {
font-family: '1';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@a5cfc6b218e31c44ca99826e80fb837a27ae7052/1737469479/1.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}