@font-face {
font-family: '1';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@d5e21f481514970cd5090ea3f71624069106f06e/1737469479/1.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}