@font-face {
font-family: '10';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@e3a1f4b9d02373ff1c99a4fe523881a1558dcc17/1737469479/10.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}