@font-face {
font-family: '10';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@8bea13a4c631f93005e23aa6baf8c94152c38eab/1737469479/10.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}