@font-face {
font-family: '10';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@6c15fe6bc91ba73a70fc731ac5c07bb7aa40f7e6/1737469479/10.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}