@font-face {
font-family: '100';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@dd20778207121588aaa44b97db6cf2e32f067458/1737469479/100.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}