@font-face {
font-family: '104';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@20ca37d9a58719dd30c661f300ace48eca00983a/1737469479/104.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}