@font-face {
font-family: '105';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@3964da0e3cef3f5ddafb7871136be29dc90035aa/1737469479/105.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}