@font-face {
font-family: '108';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@5a5648ff8fa9332c6680725cab10cf92631b11cd/1737469479/108.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}