@font-face {
font-family: '109';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@9373b75ad1721d94e1bfe38bf197ee6953b65fdb/1737469479/109.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}