@font-face {
font-family: '11';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@6548ef71f018afbfc42141fc46ad4a143498a110/1737469479/11.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}