@font-face {
font-family: '11';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@83b9851af4836df431bda4eb97fffb737d260673/1737469479/11.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}