@font-face {
font-family: '11';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@93c08028c709dcdbbb0dce106a596c112dcb8115/1737469479/11.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}