@font-face {
font-family: '111';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@c9f5cd7106d610a135b40a4adfc49ca11bf3c121/1737469479/111.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}