@font-face {
font-family: '113';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@e9aced8c151e6aad5928dc31dd26808572e29a62/1737469479/113.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}