@font-face {
font-family: '116';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@6c593b73f2f5a9dc360de8b48a8fc663f9604e13/1737469479/116.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}