@font-face {
font-family: '116';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@7bc68ac7637c406eebceec1e73152f1557cb02f1/1737469479/116.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}