@font-face {
font-family: '118';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@a8a00e6e75c36465d178fde76ccfa9f99627fd38/1737469479/118.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}