@font-face {
font-family: '12';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@4fb406b3cc33d0d271b1e4b1d403a5ca9a1b0ceb/1737469479/12.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}