@font-face {
font-family: '12';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@edc7aef7b25d064c77ce26b6055470269cbceda1/1737469479/12.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}