@font-face {
font-family: '12';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@a26549aa3eb450234a6e9ca27037ff75866a5874/1737469479/12.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}