@font-face {
font-family: '120';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@4dd07737c1ebded8a67293bd64ac1aae9141d82e/1737469479/120.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}