@font-face {
font-family: '120';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@c720b89515759385ddc001662bf823fe162c40ee/1737469479/120.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}