@font-face {
font-family: '122';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@c2af09ae91cd505e2c62d6a44c707f63f5a88875/1737469479/122.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}