@font-face {
font-family: '122';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@1686b396ed156cdf20674dc52e863175d021b137/1737469479/122.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}