@font-face {
font-family: '123';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@8bc4fd0394c8cffd3d6900be8c36b33d2ee73744/1737469479/123.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}