@font-face {
font-family: '123';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@7dfab3441fc111d567de0501b6a3a2069b4789e7/1737469479/123.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}