@font-face {
font-family: '123';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@1b4023f4a5df64fb182455ed4acae3f373d66cb7/1737469479/123.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}