@font-face {
font-family: '126';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@3f2e631298e7f84d998dd4c78aa999d1ea265fd5/1737469479/126.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}