@font-face {
font-family: '127';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@3e08780ac2d4687d4ad0a736435e09628d26a163/1737469479/127.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}