@font-face {
font-family: '129';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@bbe3d4fa8235d66bb154ac9d2b152f47adfa4aeb/1737469479/129.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}