@font-face {
font-family: '13';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@90e6e3ac80b8356c0db61f078edb4dcf7486c483/1737469479/13.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}