@font-face {
font-family: '130';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@4aa69476e3b4159280b2a70d25dff81cb873bdeb/1737469479/130.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}