@font-face {
font-family: '132';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@4ad0c62a461463dfb7afeff83f5cb8ea79694aab/1737469479/132.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}