@font-face {
font-family: '132';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@24337755c163f0235193285d45a1bf5fa6b1e850/1737469479/132.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}