@font-face {
font-family: '134';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@51ca3a3d408fec6a247759ded2c889fe3fdf16a9/1737469479/134.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}