@font-face {
font-family: '135';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@e225c9331f4754851b78b22745dfcbc16510d761/1737469479/135.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}