@font-face {
font-family: '138';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@1f529726eb12ec65be3eb8ff5b37f5c3e2973dbb/1737469479/138.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}