@font-face {
font-family: '139';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@fd7d3fec919fdee7ba5d80482969496a53bbb08a/1737469479/139.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}