@font-face {
font-family: '141';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@ba43bf37efaf575a2304b5136c7435a695b89711/1737469479/141.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}