@font-face {
font-family: '143';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@88b0c7db937f2f7f8c37d0c6a44e13bf28b646be/1737469479/143.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}