@font-face {
font-family: '145';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@d305869fa0ca0e04a666b166438e7d9aaf6feed8/1737469479/145.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}