@font-face {
font-family: '145';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@245ba9dc96fbd4150dd9422f5f4780ee84d67705/1737469479/145.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}