@font-face {
font-family: '146';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@cbee9059c6ee5cc2f86ba81c88ee13674cf8af73/1737469479/146.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}