@font-face {
font-family: '147';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@5f3982506f1068f263d64f835821d40df9c64886/1737469479/147.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}