@font-face {
font-family: '148';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@bbed796284d8bfb17abb0a256d9610046ae65b5c/1737469479/148.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}