@font-face {
font-family: '148';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@81b6381355eb621adcd9887ed648669d6b19a649/1737469479/148.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}