@font-face {
font-family: '15';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@1c5ddeca25b70f6728c04de42c5ab63cb0445980/1737469479/15.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}