@font-face {
font-family: '15';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@c290d5d29d77810bf5152953627e31a0e34047d0/1737469479/15.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}