@font-face {
font-family: '15';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@cd6ce248a7483ff9678ef520bd225c0b26af8a03/1737469479/15.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}