@font-face {
font-family: '150';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@a58f4a59dddcdf6bb9c5aa5ce2c94f024d15a5cd/1737469479/150.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}