@font-face {
font-family: '151';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@5af4aee2e67811634cbad3769c861a91a1e20c8a/1737469479/151.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}