@font-face {
font-family: '154';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@885992bf4d31e7a02df804411e7e8a6c16dc4f3b/1737469479/154.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}