@font-face {
font-family: '154';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@dbaadd99174fe0fc2f1f0070f0dcdecb14319d0f/1737469479/154.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}