@font-face {
font-family: '155';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@47063ce66d6d7a084ed93b211ed2f54d46ac74e1/1737469479/155.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}