@font-face {
font-family: '155';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@e077f94b15a005067685dd305e6cdff42fc5959b/1737469479/155.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}