@font-face {
font-family: '156';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@afd938ad0e4758eac27c13a09899f43aca83e606/1737469479/156.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}