@font-face {
font-family: '156';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@0b2bdc1a480bd4da382da73df2e2f3fd52564d2b/1737469479/156.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}