@font-face {
font-family: '158';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@cb4fd2e540725353ce0ce3c05831e1f47014ac98/1737469479/158.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}