@font-face {
font-family: '159';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@bd9309be8261fd52c76b6874b439cf0056ff31ac/1737469479/159.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}