@font-face {
font-family: '159';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@43a11dc9d59d52f76571121d242460bd4abb9bbb/1737469479/159.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}