@font-face {
font-family: '159';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@ec1f0297d36f809d244c2256f94b6ea6d420dc2d/1737469479/159.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}