@font-face {
font-family: '159';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@dc8e7ee6ba42032bd8be78d38cf9178104dd89ea/1737469479/159.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}