@font-face {
font-family: '16';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@dae9745d19fee397e11b8c81f1145e2764403c6d/1737469479/16.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}