@font-face {
font-family: '160';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@163891a8bc3796f5159d4438c1d8b36be90e4fff/1737469479/160.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}