@font-face {
font-family: '160';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@c471da58efc2d5cba1487c3c8010571f8631725e/1737469479/160.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}