@font-face {
font-family: '161';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@c2bf5b583b84168ecd5c2dc9b2ec3d3ebf9656bb/1737469479/161.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}