@font-face {
font-family: '163';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@60c8e04a8b655f0c532b0b328013372be6e61208/1737469479/163.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}