@font-face {
font-family: '17';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@354016a361a0efa66e668651edbf45fcc5ae8391/1737469479/17.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}