@font-face {
font-family: '17';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@1835c2c91483259e495991f0c6bdcce08fc7f2c3/1737469479/17.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}