@font-face {
font-family: '17';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@24e451912e270d446dd072f54915a5aefb758454/1737469479/17.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}