@font-face {
font-family: '18';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@30cfc1cc59c11c723f0cb0fa31b8b2de47b9d914/1737469479/18.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}