@font-face {
font-family: '18';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@950b6fcf9ba3cb9e7f8be446a34f784197eae23b/1737469479/18.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}