@font-face {
font-family: '19';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@5f2309d8138ee72533eb1b0c83e09c13856856d3/1737469479/19.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}