@font-face {
font-family: '19';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@ece0f5d7d7bed0532a44fb4b3713f081fc1fd227/1737469479/19.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}