@font-face {
font-family: '19';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@7da9fb0f71441f496c16b90cd45a0c7a8b1f4394/1737469479/19.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}