@font-face {
font-family: '2';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@248d98fb69970cfc61d498cdea30efd4d1044f78/1737469479/2.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}