@font-face {
font-family: '2';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@a52d3c8122d8bb23ecd1c9cdfde4cf6bc2d57ea5/1737469479/2.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}