@font-face {
font-family: '2';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@0590e3ffa8557fee3f8bff54583194ffec514b73/1737469479/2.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}