@font-face {
font-family: '2';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@2e37f07d3cdcc9faddbf6cf790906a5262cddf32/1737469479/2.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}