@font-face {
font-family: '2';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@ab466dee9dd890bc8f485165affbc64d872a71bb/1737469479/2.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}