@font-face {
font-family: '2';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@85e6371b00335b9da1b92ca91ae430080888c99a/1737469479/2.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}