@font-face {
font-family: '20';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@06260d093f2a88d3ee596e757343a179ec6c0264/1737469479/20.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}