@font-face {
font-family: '20';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@1ba71e58c3283bb412a6351aaeca21fb1a0ab44a/1737469479/20.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}