@font-face {
font-family: '21';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@5a16c8518c7f848685b686bbd917faf85ee55e21/1737469479/21.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}