@font-face {
font-family: '21';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@8802f9eb88d7c4a5ddba6fa2485534f3a17e5765/1737469479/21.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}