@font-face {
font-family: '22';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@9e3a4988758ca94a36d86550893bbe56a04354ff/1737469479/22.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}