@font-face {
font-family: '22';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@1cf1cb7f630e4fa249e699da9cac284b15d78572/1737469479/22.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}