@font-face {
font-family: '23';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@849265d8c4c580c9d630a4655010d54c661ed377/1737469479/23.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}