@font-face {
font-family: '23';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@2be58f24c0d0146259c0a46632912cc175cb1e12/1737469479/23.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}