@font-face {
font-family: '24';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@6e2abd52a0985867dd4bba61fd5736b44f75158c/1737469479/24.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}