@font-face {
font-family: '24';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@fbfd1288475bf57f8fee7573e9172c88eae3d294/1737469479/24.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}