@font-face {
font-family: '25';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@c7036fc199d7391d261f0dedd6c035c60368ae72/1737469479/25.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}