@font-face {
font-family: '25';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@f0b784b7ba004fb26cbba1e64d2987a52714d1f3/1737469479/25.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}