@font-face {
font-family: '26';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@644f707052cb2566ce39a9aa4b88016ab1f347e6/1737469479/26.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}