@font-face {
font-family: '26';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@2fcbfb42e682436de3ff97f75acc0f9ef6c2eb4a/1737469479/26.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}