@font-face {
font-family: '26';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@b729b9e4161aa663df410b28c4e29e06b71e037e/1737469479/26.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}