@font-face {
font-family: '27';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@81296bb3ffee745e92b87f25b6dab8cb13c5fe94/1737469479/27.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}