@font-face {
font-family: '29';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@e4cd3e21666101d24775d01fdf5fa5cd2aa4f232/1737469479/29.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}