@font-face {
font-family: '3';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@c41c4feebccd7cca85fb08ee1b81ba432bef3de2/1737469479/3.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}