@font-face {
font-family: '3';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@e6804bdefadec458beeda4dab01abb1c517a9813/1737469479/3.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}