@font-face {
font-family: '3';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@28d5fbacf75a7e60a39729e0371c2a558dcb674f/1737469479/3.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}