@font-face {
font-family: '3';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@d79bdaee2e5199fdeebdd144931d9f44d7ea2acf/1737469479/3.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}