@font-face {
font-family: '30';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@98c22c991560614036c411a64da742fcb15a38b3/1737469479/30.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}