@font-face {
font-family: '31';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@56ee5d380167663bfa3e21e8d92a25510fa2617c/1737469479/31.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}