@font-face {
font-family: '32';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@81682da7ba59904736adf8a02492d89a19303f51/1737469479/32.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}