@font-face {
font-family: '33';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@8b79f376aacc5e92d7a493d28c78eb51711ccb8c/1737469479/33.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}