@font-face {
font-family: '34';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@b855dd8826b42cac4e4e58710647a21919e81189/1737469479/34.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}