@font-face {
font-family: '35';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@5cc20914a95ad2822cdfad47451f630b468e7d06/1737469479/35.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}