@font-face {
font-family: '35';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@3d06ab11b14b201f5bb3b3a3f7ff291a7886813b/1737469479/35.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}