@font-face {
font-family: '35';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@cce9a3c778eb7b959130bf6d1901df9b8e483738/1737469479/35.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}