@font-face {
font-family: '36';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@e73f5671a9a7e4a64bd02ff0429f087d3148222d/1737469479/36.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}