@font-face {
font-family: '38';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@b284278646d282e5c337a8d60d12e8bb7c789830/1737469479/38.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}