@font-face {
font-family: '38';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@77447eb33397997fdbc9968326427b76cf67fd1f/1737469479/38.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}