@font-face {
font-family: '38';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@1eb007d9cc7e5ecc59915340443b9172397186f8/1737469479/38.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}