@font-face {
font-family: '39';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@03b6a821929a292ddf17be941d5cbc54c99679b0/1737469479/39.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}