@font-face {
font-family: '39';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@b7315309b25acf5d8413d57f203e4affe851821a/1737469479/39.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}