@font-face {
font-family: '4';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@08f4862551c12d6e589bf157d326ccc486710781/1737469479/4.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}