@font-face {
font-family: '4';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@7d7fb5791c70558457562351d5db04c92890d5a1/1737469479/4.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}