@font-face {
font-family: '4';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@9ef10875e164ead4f70c330f2ce8712ab13143bf/1737469479/4.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}