@font-face {
font-family: '40';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@e36fe1f84046f5380186ed97fad1d097627550cd/1737469479/40.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}