@font-face {
font-family: '41';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@39eedc200b9937e3178c373b8aa96c6980e64232/1737469479/41.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}