@font-face {
font-family: '43';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@f69eb3d3a977b6b5d02179c8957162a7b444cb04/1737469479/43.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}