@font-face {
font-family: '45';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@3e3b16b873e6296d278343325fc937edf812ef66/1737469479/45.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}