@font-face {
font-family: '47';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@06dd58e9b262be583670eb3c1c715b0ae9ad1a3d/1737469479/47.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}