@font-face {
font-family: '48';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@5d48c01c50cd1e2adb3f8e0b431a83930acd0c8c/1737469479/48.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}