@font-face {
font-family: '49';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@59ad51e16adc9243ebde340adebc089c4bc7a37e/1737469479/49.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}