@font-face {
font-family: '5';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@5f2303a54cc5ebfe1ffb0b38b4407746017262bf/1737469479/5.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}