@font-face {
font-family: '50';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@d06cc121a69f4e9ca2efd04199a787c2b940a201/1737469479/50.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}