@font-face {
font-family: '50';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@7245643f3e8f02bf3b60984cbb7db9f44fb22905/1737469479/50.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}