@font-face {
font-family: '50';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@c820e1385f41c87b6d7c79bb1f18fd65e923cc13/1737469479/50.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}