@font-face {
font-family: '51';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@e977e00916dd4112fd4949ff0ff8f216f6ff4e93/1737469479/51.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}