@font-face {
font-family: '52';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@c10953425fdf4be0ca399a4531409dac83d0dca8/1737469479/52.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}