@font-face {
font-family: '52';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@790e443e0b9bcff972c04eae57d9241778e36c18/1737469479/52.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}