@font-face {
font-family: '54';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@82def94ca6d4d13f49e9afccfbbcd364cb395c37/1737469479/54.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}