@font-face {
font-family: '55';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@2506fb7bad36353ddf688f764fa50085d9b71053/1737469479/55.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}