@font-face {
font-family: '57';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@8b35e683630765d7720537c1594cf005a07834c9/1737469479/57.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}