@font-face {
font-family: '57';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@24b8f26e6b284ee2dccd4e551ac341eb74cb1c98/1737469479/57.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}