@font-face {
font-family: '6';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@e2ddbe4983ef615c53e1b020312e56eec60a0f07/1737469479/6.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}