@font-face {
font-family: '6';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@a9d6703ca2fe9269bfa39e3da36b56608bc956eb/1737469479/6.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}