@font-face {
font-family: '6';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@60150089368ba00ef17bb5ff7046d5ea71823a82/1737469479/6.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}