@font-face {
font-family: '6';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@a515ba54104f0cb557463a184477e7066baf9ba0/1737469479/6.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}