@font-face {
font-family: '6';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@ad68b4dd49a183329f98a4c4ef6c60f464babbe9/1737469479/6.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}