@font-face {
font-family: '6';
src: url('https://cdn.jsdmirror.com/gh/Amatrue/Auto_NL@8fceb1161c808a2bb5836b3d9d7fe93a3825b252/1737469479/6.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}