@font-face {
font-family: '64';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@82f314c69b78ec7957e5024870260b93136ab010/1737469479/64.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}