@font-face {
font-family: '64';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@7afeee3d80522fa3e7ba9378c6a9058480018ff6/1737469479/64.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}