@font-face {
font-family: '65';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@e18fa81b5fda3aeb8aa7c6fc47d9d12af029c2ab/1737469479/65.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}