@font-face {
font-family: '68';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@352c71fe9cc84110a094a8f3cd9d568f263b264e/1737469479/68.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}