@font-face {
font-family: '7';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@238a37e8d251f494a262ce9e3e68cfc5e998edb2/1737469479/7.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}