@font-face {
font-family: '7';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@0cd64b327ab1e3c0d07cc732e5ecc70164fb181c/1737469479/7.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}