@font-face {
font-family: '7';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@a09bdaba096f8fccb153433ef688a09a9a4954aa/1737469479/7.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}