@font-face {
font-family: '74';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@058e54c7b95cdbb87e0619b209c7078273c31730/1737469479/74.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}