@font-face {
font-family: '75';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@b9ce08db0950715cae6308dd151673ba73d8701c/1737469479/75.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}