@font-face {
font-family: '77';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@62bdb57df673d49278e13bb30ff1a57cbeb02d09/1737469479/77.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}