@font-face {
font-family: '78';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@fe003d4ddd65ef510f6e134ae54c0c5ccf54d8e8/1737469479/78.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}