@font-face {
font-family: '79';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@256ae6f8ca65f37dcb132e3fa2d16067cf787aae/1737469479/79.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}