@font-face {
font-family: '8';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@b2266c68e8111d800cdaad2047156c365852969d/1737469479/8.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}