@font-face {
font-family: '8';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@a9744956f55a7043b4bc4fac5f02d78f99d5f145/1737469479/8.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}