@font-face {
font-family: '8';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@a1093aa4d60123e17bd16030bf92e3b988bdbb10/1737469479/8.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}