@font-face {
font-family: '8';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@13bb0f368abc7dc9813bfea47de5b0ca5aeddec5/1737469479/8.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}