@font-face {
font-family: '8';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@a9a2c53d4c3a661d57bd2ed7d18f4594cdb0b390/1737469479/8.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}