@font-face {
font-family: '80';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@963408fd2e7fbd1db7dfc1c06ef9fd94e98b8d9b/1737469479/80.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}