@font-face {
font-family: '80';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@cd2a458c64e6c5c700c49c5b7b875b0971f9fd72/1737469479/80.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}