@font-face {
font-family: '81';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@a3734ec2fcca7084f6d06e043b5d0205a64ceb93/1737469479/81.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}