@font-face {
font-family: '81';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@ce0b5a8809ad2a8de618b8f64e6c4fef92d3a5de/1737469479/81.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}