@font-face {
font-family: '83';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@c386bfad20212d33c12e872fe704e79b40b94a83/1737469479/83.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}