@font-face {
font-family: '84';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@763ea761b62c51d1e827c9d2efab1ac874a9b39b/1737469479/84.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}