@font-face {
font-family: '84';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@1b027217b9ce4e3d853aee6f51fd70ec3e16dfe1/1737469479/84.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}