@font-face {
font-family: '84';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@a07d8b14cd041d7dc7ec041ec340c5295e4b4cd8/1737469479/84.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}