@font-face {
font-family: '86';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@c1fa80d110934f8da88517a0180ff4eded0ca940/1737469479/86.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}