@font-face {
font-family: '86';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@610cdbcc9f43ee0df028976c2f4d3c50f112c103/1737469479/86.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}