@font-face {
font-family: '87';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@24b8d1f353ffaea61ff077ef9da176c1c89cc155/1737469479/87.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}