@font-face {
font-family: '87';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@edb53e4a1c850dd06a3d7a2cfd111b4229df1b89/1737469479/87.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}