@font-face {
font-family: '87';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@7b77c90e91c4e2058d98b07e78ff58f139689327/1737469479/87.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}