@font-face {
font-family: '88';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@90c10f971ac9d8ea3cc1c81f58aaa0c328dd111c/1737469479/88.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}