@font-face {
font-family: '88';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@483a2c01df1b64b13837da770b874a3e69c3a4a0/1737469479/88.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}