@font-face {
font-family: '88';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@25f485c12e96bfa050db8447bbc28aa1bb1c0d21/1737469479/88.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}