@font-face {
font-family: '88';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@99bf8dee738f857e100ad2725245a04670793240/1737469479/88.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}