@font-face {
font-family: '89';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@ec2df503c5942c5d23e8c814d4129f76cc0d8ec6/1737469479/89.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}