@font-face {
font-family: '89';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@86bc10745bc7cbec85a053596781d6bd90580949/1737469479/89.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}