@font-face {
font-family: '9';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@357c23910e07cb9138ce85f9b174c1e8a09a2535/1737469479/9.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}