@font-face {
font-family: '9';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@a251f424d332a41e14ae90140081aa9d49772bc0/1737469479/9.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}