@font-face {
font-family: '9';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@c603415b0e393539ba5263dd9ca8aa67bcd51c93/1737469479/9.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}