@font-face {
font-family: '9';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@c2845c90592a69224086d0cd69a4dada18a9f689/1737469479/9.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}