@font-face {
font-family: '90';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@89340500edeb19887148fff67ceee8122818c466/1737469479/90.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}