@font-face {
font-family: '90';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@121939266106770490ae5722afa3978e23130b4b/1737469479/90.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}