@font-face {
font-family: '91';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@86867bb125c67e48be7b8e7dd4c9526802494e76/1737469479/91.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}