@font-face {
font-family: '91';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@274d4348998b8a6480f1aa8e5da53f945207bbbe/1737469479/91.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}