@font-face {
font-family: '92';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@ead863794f355ea3f8e10a3c789130f07fc7dd00/1737469479/92.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}