@font-face {
font-family: '95';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@ccc85a69f1e5c94776db056c9790af46124b1746/1737469479/95.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}