@font-face {
font-family: '98';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@e7df862118ad05b5157b62fc8afa32fccb5ce29b/1737469479/98.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}