@font-face {
font-family: '98';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@b05beac3426421d1e7853c5f0feacdffc8577af5/1737469479/98.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}