@font-face {
font-family: '99';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@5a0e8aca5f3d5d0f2dc6b9f084e1c05b4fd89849/1737469479/99.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}