@font-face {
font-family: '99';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@669e7a1649484003f2fe7fbc9b016a50134ebdcf/1737469479/99.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}