@font-face {
font-family: '1';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@ecd1ca268a0a7e0ed211e40ceb86a3846c3ff715/1719825699/1.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}