@font-face {
font-family: '10';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@2e8bd2c8e24639ef193da3382c1d798d954768ac/1719825699/10.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}