@font-face {
font-family: '11';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@2f484b155b9e0c2c7a636aa82c1c36847ba1f19e/1719825699/11.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}