@font-face {
font-family: '11';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@242d91e267dacd059ce7ff4903db70a0ea59ac7c/1719825699/11.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}