@font-face {
font-family: '13';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@0b219555ac08fee01d26415db567385026cee312/1719825699/13.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}