@font-face {
font-family: '18';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@e95b74ba8ebf2e7be70546f6f0287eca260e7605/1719825699/18.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}