@font-face {
font-family: '2';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@564bb6d14b4ce420a8c1ba2584694c76603673d5/1719825699/2.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}