@font-face {
font-family: '2';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@5cdfa88dbe3ae40ca667b911ff15b401cb9de66e/1719825699/2.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}