@font-face {
font-family: '21';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@e0d356983fc342364dc45033953887e53c139009/1719825699/21.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}