@font-face {
font-family: '22';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@bcbb229342e38a25718308ae7d9d627831a80250/1719825699/22.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}