@font-face {
font-family: '26';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@c941277e1888eb0b7b5a4dff05e6ab9f91f94433/1719825699/26.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}