@font-face {
font-family: '27';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@d25941fab716a784dcd80c9b20325e6604fa22d0/1719825699/27.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}