@font-face {
font-family: '27';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@cf7a82f2417eeb9c20e8447cafb29705ef5e7c22/1719825699/27.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}