@font-face {
font-family: '3';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@9d94121d26a1cf7222e88061f914b6dcf983db33/1719825699/3.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}