@font-face {
font-family: '6';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@5e602d0c243d90dd24d37bfa09459309f61e7447/1719825699/6.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}