@font-face {
font-family: '6';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@5747a28e8782fae3aa00cc082786619a5b528c34/1719825699/6.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}