@font-face {
font-family: '9';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@b3917bb11d5ba19f99afc7bfec223af47ececda2/1719825699/9.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}