@font-face {
font-family: '1';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@3241c808c78ac8a55537666a447e5d0a49d34ca0/1735096213/1.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}