@font-face {
font-family: '1';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@3b8a369fe9c45a77b145aa75ec57ee2a13cc7f3b/1735096213/1.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}