@font-face {
font-family: '1';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@9818143b45928db354744511c65fc003cda2111e/1735096213/1.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}