@font-face {
font-family: '10';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@6ddb606ba62da5aee1c608eb9880d9ace5fdefed/1735096213/10.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}