@font-face {
font-family: '10';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@d123d8d2bf3fc7c8375cdafb5cfbad9294648bbc/1735096213/10.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}