@font-face {
font-family: '10';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@39c40c6778631de71c0da4af413c229a850ce8e5/1735096213/10.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}