@font-face {
font-family: '100';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@ea265ee0a3500ba280005174cf5a20d785bc31a9/1735096213/100.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}