@font-face {
font-family: '100';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@9755b6fded785dc5a760dc2ff74d7d0d2ea3fe64/1735096213/100.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}