@font-face {
font-family: '100';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@603276f14e91e8d796c058ecae0732645bd3aefe/1735096213/100.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}