@font-face {
font-family: '101';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@1668707302ee9c53354c8df41559ced15b81a586/1735096213/101.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}