@font-face {
font-family: '102';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@0c2ec4c2b76e9723005e7a5d55bde6c28cfa66fd/1735096213/102.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}