@font-face {
font-family: '104';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@6464f326a976e57b68ae11dd8302c8c141e36dfc/1735096213/104.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}