@font-face {
font-family: '105';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@2b95f301eb783892666d36240a629d102e4011b9/1735096213/105.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}