@font-face {
font-family: '105';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@e742dc5086fc6865d678dafff2e46ff4bafc6990/1735096213/105.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}