@font-face {
font-family: '105';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@c8813bbc59e92147a58897e2403fbd80b5e7ba4c/1735096213/105.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}