@font-face {
font-family: '106';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@5de124b0d2584f5bda02bcea4d4a67d41c232abe/1735096213/106.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}