@font-face {
font-family: '107';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@6c851533aed4614d59767255f95d2f8b7e430048/1735096213/107.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}