@font-face {
font-family: '108';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@180c9feb8011b80141586e01e33ff5cf6f04889e/1735096213/108.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}