@font-face {
font-family: '109';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@f5d13087ab944e9cff293a4630b7fb0b0f2dc7ca/1735096213/109.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}