@font-face {
font-family: '11';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@774e9949e7aa5e0b4e04a1ff9fa6541b60db7afe/1735096213/11.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}