@font-face {
font-family: '110';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@d26b5f8b31f82a5952a122b2368f51bb5ec684de/1735096213/110.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}