@font-face {
font-family: '110';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@29041719d0778aa9915d247de8624e3ba3179a17/1735096213/110.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}