@font-face {
font-family: '110';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@48746ef3e74adf91c666646775a4d3f92e716a8c/1735096213/110.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}