@font-face {
font-family: '111';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@21a4c52f8eaf159064e8bd7ee5fa157bac29cfed/1735096213/111.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}