@font-face {
font-family: '112';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@222a46cb94f86f01ff853b6bdbd00cda0e423769/1735096213/112.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}