@font-face {
font-family: '116';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@a418db7b5e28910f310117d215526fbcb80beb1b/1735096213/116.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}