@font-face {
font-family: '117';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@eadd83f009f1b2ebbecea0c6663f74619f70ebe6/1735096213/117.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}