@font-face {
font-family: '118';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@7e07b6fb3d45529112f50df69afb611006c3fbd3/1735096213/118.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}