@font-face {
font-family: '119';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@22909cef0cca678559ea681ee9f8d3b56ccd3e86/1735096213/119.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}