@font-face {
font-family: '12';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@535153ce55ca82a7bfeb4b62beb8a203cd3e687f/1735096213/12.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}