@font-face {
font-family: '120';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@5515a93fc191157040dc2d7e554cd034fcdeb756/1735096213/120.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}