@font-face {
font-family: '122';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@4b6c24b8634b031ced4fc114167eff2b174803b7/1735096213/122.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}