@font-face {
font-family: '123';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@f6282ea4c444676b2b072e3986588bb7da52cdcf/1735096213/123.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}