@font-face {
font-family: '124';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@a51564c932eea22e984e9fa868b8e7ac5f0232f8/1735096213/124.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}