@font-face {
font-family: '125';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@2cb50c6bda950f2d04d2c87f89a9f82f1caaba88/1735096213/125.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}