@font-face {
font-family: '128';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@b4e95da5d552008ca78d219c5f38647629bb7531/1735096213/128.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}