@font-face {
font-family: '129';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@5f6e98a9dd7ce72049349dca006c5e4107925474/1735096213/129.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}