@font-face {
font-family: '13';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@c78a6b9bc5c55fd1ecd9ff2978cd40b29c0b926a/1735096213/13.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}