@font-face {
font-family: '130';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@25389a65c63b9a867c1a41f9c1dca2645527d7cf/1735096213/130.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}