@font-face {
font-family: '130';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@2675dfca9e8cbf9573d1b77dcc098a63fc84b195/1735096213/130.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}