@font-face {
font-family: '130';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@808b1bb55ca806c96c840fc5bfa7727d57f6f565/1735096213/130.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}