@font-face {
font-family: '131';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@84c4c98babacf9195f0e447c4ffd48592822f07c/1735096213/131.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}