@font-face {
font-family: '132';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@2cf4ba5d9aa6e8e4942465ffd5f9c9710c786ab6/1735096213/132.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}