@font-face {
font-family: '134';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@d4f52c08e4ca99897bbbf79208acd73e6a830837/1735096213/134.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}