@font-face {
font-family: '135';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@78fcae864db710ae956ee0428efecd610ddf2bd6/1735096213/135.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}