@font-face {
font-family: '135';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@c0ba60e04523091e50bc736e3bb692ba98335c60/1735096213/135.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}