@font-face {
font-family: '136';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@fc9d41530773a744d3ee84107f2a022f108897ea/1735096213/136.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}