@font-face {
font-family: '137';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@7c79ce2ac49b1e0cbecd0178d0ff078afafa5c36/1735096213/137.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}