@font-face {
font-family: '138';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@39f1ccbc78b7319bed26be4efff4af0d7a7617b0/1735096213/138.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}