@font-face {
font-family: '139';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@3a5831cf462d159b9814abb167aecee7343c4958/1735096213/139.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}