@font-face {
font-family: '140';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@01945589b963bf77b303d824be5d46c3acb4d7a8/1735096213/140.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}