@font-face {
font-family: '141';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@0395f27c2f263f45a61bbd069f9e0c479939156a/1735096213/141.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}