@font-face {
font-family: '143';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@4a0bf68c0434cdd23c2145f0a896a014111e9b73/1735096213/143.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}