@font-face {
font-family: '144';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@aa670ff8c0409436fb9c427f743077bd1aeeb3b7/1735096213/144.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}