@font-face {
font-family: '145';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@b4a69bc7e304df212fc2875aa2006f93fcbbdfaf/1735096213/145.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}