@font-face {
font-family: '146';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@5cd69d89b428a6a46ea8fa4e1e0e769bd9ec1627/1735096213/146.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}