@font-face {
font-family: '147';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@e1fd245d900716fb8492d8cc1e5594de625a51db/1735096213/147.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}