@font-face {
font-family: '148';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@378150a52e3dd56aaa4b76662c530a56ff548137/1735096213/148.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}