@font-face {
font-family: '149';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@5c7b07b02efff7ab73523e11f68e881efd01a897/1735096213/149.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}