@font-face {
font-family: '15';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@e55c2f96ef3b55c490cdc3f0ee0c411e57820d4d/1735096213/15.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}