@font-face {
font-family: '15';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@975e68c9698482a7d0b24b36b4f49a89784058ce/1735096213/15.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}