@font-face {
font-family: '15';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@1ac6dc43e3fdcc9afcc59b576ba597963553a2ee/1735096213/15.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}