@font-face {
font-family: '150';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@9433d8ae15289c9f623123dc0eabbfe12d651cfc/1735096213/150.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}