@font-face {
font-family: '150';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@9810a68dd47dc8977cdb40c8b789a3d5cebeb207/1735096213/150.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}