@font-face {
font-family: '150';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@c71666331c389eadeaf7b3040059877b623c380b/1735096213/150.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}