@font-face {
font-family: '152';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@4f027ab53e2e152d07abf1ea1821cb7061d9af42/1735096213/152.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}