@font-face {
font-family: '152';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@11a29581b785159a0a85cd83a4727f8e79867a58/1735096213/152.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}