@font-face {
font-family: '154';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@2e15bb057c4fe37b66c325813fc1df45da905b3a/1735096213/154.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}