@font-face {
font-family: '155';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@dab51a3a10f1e53206598ea3147c3656fdbf1b19/1735096213/155.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}