@font-face {
font-family: '156';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@ad853f091899311926c19603869bbed495ef9c04/1735096213/156.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}