@font-face {
font-family: '159';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@5a3c3e081793bd8f79615d5888464a66d2720fdf/1735096213/159.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}