@font-face {
font-family: '160';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@71779fc9903526c38e2f51706052bbb6dd07f204/1735096213/160.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}