@font-face {
font-family: '161';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@a55128618f6e11192b90afb23ce37084ca9ad0e9/1735096213/161.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}