@font-face {
font-family: '163';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@122d0f5776069ea9615893291668b10bcae12417/1735096213/163.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}