@font-face {
font-family: '165';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@8f7ce39111a7373a5da3b4ae14aa7c9d9c1e3ec5/1735096213/165.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}