@font-face {
font-family: '166';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@59938a389df14e088b6187b29bc1686b26700e08/1735096213/166.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}