@font-face {
font-family: '168';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@11615ee753dcd0ce157143e2b42d91e6cdc632aa/1735096213/168.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}