@font-face {
font-family: '169';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@0ce24dcb992b795066a329301c2aeb814e38cfe1/1735096213/169.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}