@font-face {
font-family: '170';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@b2b89f97af8038357b56743f897d05f77450e9ed/1735096213/170.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}