@font-face {
font-family: '170';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@f115a79c8b535c0759ee022faddcc00583d8ab9c/1735096213/170.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}