@font-face {
font-family: '170';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@aa9f1ddd1977e7866c46fd2688067a9fdfeb1faf/1735096213/170.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}