@font-face {
font-family: '174';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@923c45e1f09583c15a544725e68920b319dbdced/1735096213/174.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}