@font-face {
font-family: '175';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@ee6cf359a1cdaecb28827a1346de3fd0bd0026c4/1735096213/175.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}