@font-face {
font-family: '176';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@8e0b8f25eaf0f50005ff3e4872253c27c2c1be8a/1735096213/176.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}