@font-face {
font-family: '177';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@9a64013d25d2cd6d4fc63e01fd5694d4c4e3c8ef/1735096213/177.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}