@font-face {
font-family: '178';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@52785907ea17515cb02e92ded082810938a8ede9/1735096213/178.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}