@font-face {
font-family: '179';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@2070299190bf78fb81ce572c237e3910bbdf59e0/1735096213/179.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}