@font-face {
font-family: '18';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@27ffa08e52e9fe5076b73fde4aff59d36ca56b1c/1735096213/18.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}