@font-face {
font-family: '180';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@783fa281d8693edd916274749d735c0c14b30a47/1735096213/180.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}