@font-face {
font-family: '181';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@f1685c8bc435438de44831b0c4200c76b8d4a018/1735096213/181.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}