@font-face {
font-family: '182';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@a34320c68cb2eb8a9d2677d3e938c0b290616990/1735096213/182.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}