@font-face {
font-family: '183';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@87d92d2c10a9815521b261f6e8d0d3909f968f21/1735096213/183.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}