@font-face {
font-family: '184';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@4a901e278f98ee574d30d4e08d3da50e82eac9e5/1735096213/184.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}