@font-face {
font-family: '185';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@2a9d708164943454ea684da8acdfeb9047be505a/1735096213/185.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}