@font-face {
font-family: '186';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@b823be554ae4cd4bc7ad23e05ef1f1d1f1454e5a/1735096213/186.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}