@font-face {
font-family: '187';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@94c587b1f3dd277c9a9de861b4a321fd217389cf/1735096213/187.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}