@font-face {
font-family: '188';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@25af9e6f2fdf28581582fb95e1b98aff266b3d5a/1735096213/188.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}