@font-face {
font-family: '189';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@2da5565e89e0979f3e6506dc6bd43b0377459f1c/1735096213/189.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}