@font-face {
font-family: '19';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@f613a0c4a07cb219fe668e30df687dacf08514eb/1735096213/19.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}