@font-face {
font-family: '190';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@d2a81b11d6bb764ad85c5449f7921578cc50429e/1735096213/190.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}