@font-face {
font-family: '190';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@ca0b05e9b639965f413797c9f418be86222c742e/1735096213/190.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}