@font-face {
font-family: '190';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@93035adca1200946134cc59d59d177383477c88f/1735096213/190.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}