@font-face {
font-family: '191';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@c1ec6bc92dfabbb19dc38474499c1eaea802efe9/1735096213/191.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}