@font-face {
font-family: '192';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@a51d782d8ec3ab91d6257bb4fa3c9dd9ed248260/1735096213/192.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}