@font-face {
font-family: '193';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@a1a311a57b8c04bede282507e01888d1cd01abef/1735096213/193.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}