@font-face {
font-family: '194';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@3f438c1ec5df7790c3b7b2dd6348a7c1eb22f4e0/1735096213/194.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}