@font-face {
font-family: '196';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@0a68cb216b2d1a6179af2973838b3b361bd71f90/1735096213/196.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}