@font-face {
font-family: '196';
src: url('https://gcore.jsdelivr.net/gh/Amatrue/Auto_NL@b433bef5cd606051341f37c7936df7925d423a8b/1735096213/196.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}