@font-face {
font-family: '197';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@42ce73f337ac7cdcd346f6d959fb0f9206b405cf/1735096213/197.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}