@font-face {
font-family: '198';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@8355caf7c667bf208e29cafeaa592aea1fce5732/1735096213/198.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}