@font-face {
font-family: '199';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@24b98b00613b4c004749f269b58ff51ecacb9945/1735096213/199.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}