@font-face {
font-family: '2';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@918201be569dcdec91a80de3217d88922e94942e/1735096213/2.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}