@font-face {
font-family: '2';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@37e8aa9afc9d04d5ce5b2d4faad405f6bc246afd/1735096213/2.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}