@font-face {
font-family: '2';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@83040aa9c24dd05f15a3671c25a9556bf33f8da7/1735096213/2.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}