@font-face {
font-family: '20';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@26a1aaeaa5358682a31a5a5ae7fb528c6e5a69cf/1735096213/20.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}