@font-face {
font-family: '20';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@c1cbf76a98b786a79261bcc32bb200f4382a159f/1735096213/20.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}