@font-face {
font-family: '20';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@90e0be276ba5000f3560c73b41fb84c1e0a0bc0f/1735096213/20.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}