@font-face {
font-family: '200';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@6abeee320550df06ba0e272a013d35dec6c7bcc6/1735096213/200.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}