@font-face {
font-family: '200';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@aa2a12ad70ab6ee6abcee8640c8ede9f45d30c06/1735096213/200.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}