@font-face {
font-family: '201';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@f0c3a67d5df5cc46727972c75f3fadeeb50640cc/1735096213/201.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}