@font-face {
font-family: '202';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@a4ca5dea11c28207a92c00aff7abc556413efaab/1735096213/202.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}