@font-face {
font-family: '203';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@e3072da770fbf244077f185c295ae6ca05cf20ef/1735096213/203.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}