@font-face {
font-family: '204';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@e09595dbe1cc5b1e775920b71ee9ce2ec320b682/1735096213/204.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}