@font-face {
font-family: '206';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@530047833dc611e310227c726679f372302e90a7/1735096213/206.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}