@font-face {
font-family: '207';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@ec4a505649c10efa2b120d053056099910592574/1735096213/207.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}