@font-face {
font-family: '208';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@20e642eccc7a70c101c72343b3cee4412b56d90a/1735096213/208.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}