@font-face {
font-family: '209';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@44c5cf54c7b9f9ce630f44a4b1fff19b0093eada/1735096213/209.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}