@font-face {
font-family: '210';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@ed73adf0392a5a6ae74d79458a60e123a449972c/1735096213/210.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}