@font-face {
font-family: '210';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@34b4b1a933d4b3e760095c4449796ac380f4d572/1735096213/210.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}