@font-face {
font-family: '210';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@380c9c26f6d2920e24a13bedc10070ed7591d576/1735096213/210.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}