@font-face {
font-family: '211';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@4f74677dfef16cd6ae1c72086319ea7cef537987/1735096213/211.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}