@font-face {
font-family: '212';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@cab2744f4f589cd00840416d45ccfd98b1a7a3a2/1735096213/212.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}