@font-face {
font-family: '213';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@1ccb5d66ece4b5d8cb4ddaae77ebbe05cefc7f60/1735096213/213.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}