@font-face {
font-family: '214';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@ac4d04b5f042f4c8b51513c217f583088690a847/1735096213/214.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}