@font-face {
font-family: '215';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@eb96aebee897783457877e3db8792af22a5b97ee/1735096213/215.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}