@font-face {
font-family: '216';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@f0314d0547447bda239b6a1e022b304be98753fd/1735096213/216.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}