@font-face {
font-family: '217';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@37a97642df5a521dd479a2662cc6f9244844e5ab/1735096213/217.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}