@font-face {
font-family: '218';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@641f4e8f7aacdd0b5f70c12ad2f67be1b185fecc/1735096213/218.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}