@font-face {
font-family: '219';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@c0d5b4b1a2a791ee97ab3887f23e211f4494b0ae/1735096213/219.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}