@font-face {
font-family: '22';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@7ca5693bf866809f1db44ab0db67b3ac608c29c1/1735096213/22.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}