@font-face {
font-family: '220';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@34e37cf788035813cacdb5b6aa5ccb9a27b4b958/1735096213/220.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}