@font-face {
font-family: '221';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@26f9a1b3f7da3329e2af0e75900f4e8656ccd014/1735096213/221.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}