@font-face {
font-family: '221';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@ad621165d34dacf8fafb7a3dac4bc9e0af4c2866/1735096213/221.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}