@font-face {
font-family: '221';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@338f1789864b5107aec739c3379b3223869540dd/1735096213/221.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}