@font-face {
font-family: '222';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@d6d087084fb74848c3c77bef868c2a316d1bedb6/1735096213/222.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}