@font-face {
font-family: '222';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@e5889e7d246908172e435a3e104a1d607fc96f1f/1735096213/222.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}