@font-face {
font-family: '222';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@e3aa1801d2f46a7708a093aa8d1aa2daa14e8041/1735096213/222.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}