@font-face {
font-family: '223';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@1d4537a0396afa2b4eab508fb9e1194364d9f7b8/1735096213/223.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}