@font-face {
font-family: '223';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@5f76d92caeef70d1b17702c3727407f96764cf60/1735096213/223.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}