@font-face {
font-family: '223';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@a337c3b56930b382f8b3700d4e23976c3e6275fe/1735096213/223.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}