@font-face {
font-family: '224';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@2a934f97e1b6e23bc514818ab746130bc839d045/1735096213/224.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}