@font-face {
font-family: '224';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@c6e63456592a930a3d63a29e62b38c42d3c786af/1735096213/224.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}