@font-face {
font-family: '224';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@d4f33c30c2ae26b870bf8f525371799e836037cc/1735096213/224.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}