@font-face {
font-family: '23';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@30b780b11f9a4fc24907f2474e00e5e8a099d413/1735096213/23.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}