@font-face {
font-family: '24';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@1d1253e43edaae4b8bf0eea03d7ebaad3f451c03/1735096213/24.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}