@font-face {
font-family: '25';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@ace9277f74e3a2a1f4aafce298c71133cb959465/1735096213/25.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}