@font-face {
font-family: '27';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@878cf7e45958d68e4ab86474810cf0ba7edb661e/1735096213/27.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}