@font-face {
font-family: '28';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@2d39fa8dc8ed4af5aadb0588340b63fbfac18619/1735096213/28.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}