@font-face {
font-family: '3';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@a6f8477f3592ee39d442a41110a025e22305f3b1/1735096213/3.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}