@font-face {
font-family: '3';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@09587d979e33588a905406eba4a56e28c32fc68c/1735096213/3.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}