@font-face {
font-family: '3';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@4f477ea4fe753a41aa2cfeed5c5c7b5b1941357f/1735096213/3.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}