@font-face {
font-family: '30';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@bac7c5e9aeb04ecd402a62f02841d0dea8405329/1735096213/30.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}