@font-face {
font-family: '30';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@5b5028b91de35da6b7cfc637c34105d843cbfd9a/1735096213/30.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}