@font-face {
font-family: '30';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@d4ffcbd540bb401b5d829457b08e716f05eb62b2/1735096213/30.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}