@font-face {
font-family: '31';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@90e57e633e8b1f22830e047796f060d0281ccd1d/1735096213/31.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}