@font-face {
font-family: '32';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@ee3cedf796f1ce3b4561c8117d5408cb4a453400/1735096213/32.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}