@font-face {
font-family: '33';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@6b344bd3aecbec26bb7dca3498c003822fce87bb/1735096213/33.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}