@font-face {
font-family: '34';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@e1357dd0a3d2dcb487ef6c8860b1bcce63e051a4/1735096213/34.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}