@font-face {
font-family: '36';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@953c2f373cff2ae4ba6d91c134dba8a6c04e758a/1735096213/36.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}