@font-face {
font-family: '37';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@0587fff3dc5cea732b355e90e08dc39504f48cb8/1735096213/37.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}