@font-face {
font-family: '38';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@853e2414332048a7d5e57c19446b84ad6cf7e9a3/1735096213/38.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}