@font-face {
font-family: '39';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@d768a77924f59f1fbca12babe82d02cfc273e087/1735096213/39.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}