@font-face {
font-family: '4';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@cb9bcdaa81284dbd9856cf37db0af5537583cb82/1735096213/4.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}