@font-face {
font-family: '4';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@c4b98ae4cb1812a2833c7b1e4891899ef8f658ce/1735096213/4.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}