@font-face {
font-family: '4';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@56d56311db5f3c867a9dc702a194469df3a5ac11/1735096213/4.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}