@font-face {
font-family: '42';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@343436a48e19ee449b9aa303772e36cde38a059a/1735096213/42.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}