@font-face {
font-family: '44';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@b5f21702765e7e2914cdced9cc6ff748ae74398a/1735096213/44.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}