@font-face {
font-family: '46';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@8da492bb02d5eab8901a72cfb930758e31aacf68/1735096213/46.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}