@font-face {
font-family: '47';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@18d91ca766516814d276ebf6a863a50efad1c003/1735096213/47.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}