@font-face {
font-family: '48';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@95a5178172bbc01f19213b69f57317e0d57ee5e1/1735096213/48.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}