@font-face {
font-family: '49';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@c97cf23f9ae73af2708e34a8511b5ca8ed293938/1735096213/49.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}