@font-face {
font-family: '5';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@fefbb9ad53109785f2997f004f3899f2966f9393/1735096213/5.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}