@font-face {
font-family: '5';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@e5ebb53da27f8135f638d5065d7cd8db2160cd56/1735096213/5.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}