@font-face {
font-family: '5';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@b930295fd3ce597e16132de1f57f22bab66a51ee/1735096213/5.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}