@font-face {
font-family: '50';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@f1890ef3bae24b1a17cb7099af089f26408046f4/1735096213/50.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}