@font-face {
font-family: '50';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@682862078dd9d516c91c6e5f066eaf764b259d28/1735096213/50.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}