@font-face {
font-family: '50';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@880a5d747d9d97baa6f1f8255384e0c04c92c515/1735096213/50.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}