@font-face {
font-family: '51';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@c18d67657332d7506d66066c87bf3ceab114896b/1735096213/51.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}