@font-face {
font-family: '52';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@9e3db83c5119fdee147c6a362a0c6eec516aeed2/1735096213/52.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}