@font-face {
font-family: '53';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@fb51c009faf20688a3908458b2fe34ff5f13b136/1735096213/53.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}