@font-face {
font-family: '54';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@cc2a8a7a81907c9ff62cbc903f56623559b07aa6/1735096213/54.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}