@font-face {
font-family: '56';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@2913ab015fae496a0d89271f5a1cf3cd16c77e7e/1735096213/56.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}