@font-face {
font-family: '57';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@eafce6ff262a3cf5694dde8344638f34987b3bca/1735096213/57.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}