@font-face {
font-family: '58';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@4279067d36bc3d79a38af4a67119db9e38f55fe4/1735096213/58.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}