@font-face {
font-family: '59';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@1292d96373a2fdfa0e97b144878cce5baebb8347/1735096213/59.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}