@font-face {
font-family: '6';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@c6c3def6fefc767cdaf9fa09cc5223aa1f294610/1735096213/6.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}