@font-face {
font-family: '60';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@0f3bdd24b91a1467527de01589da5e2194be2312/1735096213/60.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}