@font-face {
font-family: '61';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@12ce4d13318e1b934336755b54c604e739ad3949/1735096213/61.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}