@font-face {
font-family: '63';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@c724cfc350555f60561e36fb9f2c467757aa3c53/1735096213/63.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}