@font-face {
font-family: '64';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@3ce0f4812a1f3ef500b297762533e02ec1f68b37/1735096213/64.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}