@font-face {
font-family: '66';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@2f9c3c8ab476603d91dc63cf0521015d1ad5147f/1735096213/66.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}