@font-face {
font-family: '67';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@9ee5a0b02b1d4a848674b44b76b54d037767bd43/1735096213/67.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}