@font-face {
font-family: '69';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@e721d5cc05b37e2c433ca968f1154db8c364ac40/1735096213/69.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}