@font-face {
font-family: '7';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@fbd369d450e8d53fd3cba87ff5ae035ca30e38bc/1735096213/7.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}