@font-face {
font-family: '70';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@9746b898a12b9b8270e66be23997ac1e90e2ff12/1735096213/70.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}