@font-face {
font-family: '70';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@d85d29258f029c7a18915bcf0e93a71e9d4ad5f1/1735096213/70.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}