@font-face {
font-family: '70';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@fa1cb26ba9025013cc13b4f532e799f15d540bdf/1735096213/70.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}