@font-face {
font-family: '72';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@5558e10e224e15f405417a4f2629ae4e1fe91e09/1735096213/72.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}