@font-face {
font-family: '76';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@97d0644a448aae987d428eb676198de6f6261405/1735096213/76.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}