@font-face {
font-family: '77';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@9bedc813cf333986bc4b79f7826b4f359bc8d96d/1735096213/77.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}