@font-face {
font-family: '78';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@5078a664da258a627c53220b821d3edd09f6a0f7/1735096213/78.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}