@font-face {
font-family: '79';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@e6bba7673a465bdc566ecf339907c2b0b6a23845/1735096213/79.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}