@font-face {
font-family: '8';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@055ed24e3ac2695e943e4372755c40312718a168/1735096213/8.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}