@font-face {
font-family: '81';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@af84de92f74c6c5f93ea8ad3ef8d4bed3b251adb/1735096213/81.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}