@font-face {
font-family: '82';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@0befc6de9525ea6851a296e59b98eca4e539b5ef/1735096213/82.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}