@font-face {
font-family: '83';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@fce3b2da98a3892d11f3bb7838bcb71e3e967d3f/1735096213/83.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}