@font-face {
font-family: '83';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@77c1b8e1a20f5013d10682782e96e0143c87efd8/1735096213/83.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}