@font-face {
font-family: '84';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@3b0ca27441dc71042ff067ac5b2c9e48b3cad5a9/1735096213/84.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}