@font-face {
font-family: '85';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@52b4253ad52d6857b385d95d7f4f9ab987d926bd/1735096213/85.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}