@font-face {
font-family: '86';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@d7be09ba68806b5df5c160487077a49e48dd192e/1735096213/86.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}