@font-face {
font-family: '87';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@1ad467170ab2c6030096bef5e3b4d30d01f62d83/1735096213/87.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}