@font-face {
font-family: '88';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@26897d455c184fe57de501148262fcf399819b93/1735096213/88.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}