@font-face {
font-family: '9';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@7a66b6f7dbc3ff0bf2e169ebc20b2b33e2c66a25/1735096213/9.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}