@font-face {
font-family: '90';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@15f7cb696642e3a51dee70ea78a862c17955fad9/1735096213/90.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}