@font-face {
font-family: '90';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@3cffdab947bdccc3af390d34b7534f83a27af4ef/1735096213/90.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}