@font-face {
font-family: '90';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@c9fe04f864d5d6d01ab411d5be82449143a0696d/1735096213/90.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}