@font-face {
font-family: '91';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@27ebcc951706a2d5d923ae8445bda83241f2505a/1735096213/91.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}