@font-face {
font-family: '92';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@4d0b5662ac6107a9a4d9631647f385f1e07b89ff/1735096213/92.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}