@font-face {
font-family: '94';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@67b03dec67ae9950ffa08940e72a5372920fc507/1735096213/94.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}