@font-face {
font-family: '95';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@b38d5e32165539c4af1e279acd3c2992704509f3/1735096213/95.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}