@font-face {
font-family: '96';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@1260e157f1c50320a4bec06533a66da32822794b/1735096213/96.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}