@font-face {
font-family: '98';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@cf49f2a6172ac3231a086958e7e0d3d29210eed6/1735096213/98.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}