@font-face {
font-family: '99';
src: url('https://cdn.jsdelivr.net/gh/Amatrue/Auto_NL@e6cc01ded043a2d334796b71860cbb0217c0b81e/1735096213/99.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}