@font-face {
font-family: '80';
src: url('https://https://autosync-nl.netlify.app.netlify.app/1737469479/80.woff?v=3c4961eb0f0dc663482f95cea6505ac1499cb686') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}