@font-face {
font-family: '80';
src: url('https://https://autosync-nl.netlify.app.netlify.app/1737469479/80.woff?v=37dc904a724b6df4a5e26c3ac3dd5489a0f65746') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}