@font-face {
font-family: '80';
src: url('https://https://autosync-nl.netlify.app.netlify.app/1737469479/80.woff?v=472fbe73ca5f82e4b2e30466aefd02ce64a95f48') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}